<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- CORS setting -->
<!--    <filter>-->
<!--        <filter-name>filterName</filter-name>-->
<!--        <filter-class>패키지.클래스이름</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>filterName</filter-name>-->
<!--        <url-pattern>url</url-pattern>  -->
<!--    </filter-mapping>-->
</beans>