.manage_box{
    padding: 0 8px 0 8px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.manage_box .btn{
    /*display: inline-block;*/
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
}

.manage_box .btn.btn_red{
    border-color: red;
    color: red;
}

.manage_box .btn.btn_blue{
    border-color: #4781ff;
    color: #4781ff;
}

.manage_box .btn.btn_grey{
    border-color: #b6b6b6;
    color: #b6b6b6;
}

.manage_box .btn.w50{
    width: 48%;
}
.manage_box .btn.w50.btn_red:hover{
    background-color: #ffdede;
}
.manage_box .btn.w50.btn_blue:hover{
    background-color: #e2ecff;
}
.manage_box .btn.w50 + .btn.w50{
    margin-left: 4%;
}

/*매장 방문 내역 페이지 */
.visit_map{
    position: relative;
    width: 100%;
    height: 900px;
    /*background-color: tan;*/
}

.visit_map .header_group{
    margin-top: 40px;
    width: 100%;
    height: 5%;
    /*background-color: green;*/
}

.visit_map .header_group .title{
    width: 100%;
    height: 100%;
    margin: 44px 0 0 185px;
    font-size: 24px;
    font-weight: 700;
    align-content: center;
}

.visit_map .body_group{
    display: flex;
    height: 95%;
}

.visit_map .body_group .map_panel{
    background-color: #e7e7e7;
    /*display: inline-block;*/
    width: 50%;
    height: 100%;
    padding: 25px;
}

.visit_map .body_group .map_panel .map_cont{
    background-color: #3bd500;
    width: 100%;
    height: 100%;
}


.visit_map .body_group .detail_panel{
    background-color: #ffdddd;
    /*display: inline-block;*/
    padding: 15px;
    width: 50%;
    height: 100%;
}

.visit_map .body_group .detail_panel .list_header{
    width: 100%;
    height: 70px;
    padding: 0 20px 0 20px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;

}

.visit_map .body_group .detail_panel .list_header .inp_search{
    width: 60%;
    height: 45px;
    padding: 2px 8px 2px 8px;
    font-size: 18px;
    border-radius: 8px;
}

.visit_map .body_group .detail_panel .list_header .btn{
    height: 45px;

}

.visit_map .body_group .detail_panel .list_header .btn.btn_sort{
    margin-left: 20px;
    width: 32px;
    background: url(../images/sort_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_filter{
    margin-left: 12px;
    width: 36px;
    background: url(../images/filter_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_search{
    margin-left: 14px;
    width: 46px;
    background: url(../images/search_icon.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn_add{
    width: 100px;
    height: 32px;
    background-color: #4781ff;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 12px;
    margin-left: 16px;
}

.visit_map .body_group .detail_panel .table_shop{
    padding: 14px 20px 14px 20px;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    overflow-y: auto;
    /*table-layout: fixed;*/
}

.visit_map .body_group .detail_panel .table_shop .thead .tr{
    border-bottom: 1px solid black;
    height: 10px;
}

.visit_map .body_group .detail_panel .table_shop .th{
    position: relative;
    padding:10px; background-color:#f8f8f9; color:#62626e;
    font-size:14px; font-weight:400; text-align:center;
    line-height:16px;
    user-select: none;
    left: 0;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr {
    background-color: #f3f3f3;
    height: 1px;
    cursor: pointer;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr:hover{
    background-color: #e3e3e3;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr .td{
    position: relative;
    padding:2px;
    /*border-right:2px solid #f4f4f5;*/
    /*border-bottom:1px solid rgba(227, 227, 227, 0.9);*/
    color:#28272c; font-size:14px; text-align:center;
    /*height: 32px;*/
    line-height:32px;
}

/*방문 매장 추가 모달창*/
.add_visit_map_cont{
    width: 100%;
    height: 100%;
    display: flex;
}

.add_visit_map_cont .map_panel{
    width: 50%;
    height: 100%;
    padding: 15px;
}

.add_visit_map_cont .input_panel{
    width: 50%;
    height: 100%;
    padding: 15px;
}

.add_visit_map_cont .input_panel .row_inp_group{
    background-color: #cfe0ff;
    height: 76px;
    display: flex;
    padding: 2px 16px;
    align-items: center;
}

.add_visit_map_cont .input_panel .row_inp_group + .row_inp_group{
    margin-top: 4px;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box{
    width: 100%;
    height: 100%;
    align-content: center;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box + .col_inp_box{
    margin-left: 12px;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box.w50{
    width: 48%;
}
.add_visit_map_cont .input_panel .row_inp_group .col_inp_box.w30{
    width: 30%;
}

.add_visit_map_cont .input_panel .row_inp_group .subject_text{
    margin-left: 2px;
    font-size: 13px;
    margin-bottom: 1px;
}
.add_visit_map_cont .input_panel .row_inp_group .inp{
    padding: 1px 6px;
    border-radius: 6px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.add_visit_map_cont .input_panel .row_inp_group .flex_box{
    display: flex;
}

.add_visit_map_cont .input_panel .row_inp_group .textarea{
    width: 100%;
    height: 72%;
    border-radius: 6px;
    resize: none;
    padding: 4px 8px;
    font-size: 14px;
}
.add_visit_map_cont .input_panel .row_inp_group .btn{
    width: 25%;
    background-color: #4781ff;
    margin-left: 8px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

.add_visit_map_cont .input_panel .visit_log_section{
    padding: 8px;
    /*font-weight: 200;*/
    background-color: #e0e0e0;
    height: 200px;
}

.add_visit_map_cont .input_panel .visit_log_table{
    border-radius: 12px;
}
.add_visit_map_cont .input_panel .visit_log_table .thead{
    background-color: #f1f1f1;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody{
    overflow-y: auto;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .tr{
    background-color: white;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .td{
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .tr .btn_detail{
    font-size: 10px;
    color: red;
}

.add_visit_map_cont .input_panel .option_bottom_group{
    display: flex;
    align-items: center;
    padding: 16px 8px;
    float: right;
}

.add_visit_map_cont .input_panel .option_bottom_group .btn{
    background-color: white;
    color: #4781ff;
    border: 0.13rem solid #4781ff;
    padding: 4px 8px;
    border-radius: 8px;
    width: 120px;
    font-weight: 550;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn:not(.btn_red):hover{
    background-color: #4781ff;
    color: white;
    border-color: #4781ff;
    transition: all ease-in-out 0.15s;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn.btn_red{
    background-color: #ff6767;
    color: white;
    border-color: #ff6767;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn.btn_red:hover{
    background-color: #ff9898;
    border-color: #ff9898;

}

.add_visit_map_cont .input_panel .option_bottom_group .btn + .btn{
    margin-left: 12px;
}

/*Navermaps Custom Overlay*/
.navermaps_custom_overlay{
    width: 38px;
    height: 38px;
    background: url(../images/marker/grey_marker_icon.png) no-repeat center / 100%;
}

.navermaps_custom_overlay.red{
    background: url(../images/marker/red_marker_icon.png) no-repeat center / 100%;
}
.navermaps_custom_overlay.blue{
    background: url(../images/marker/blue_marker_icon.png) no-repeat center / 100%;
}
