/*알림톡 템플릿*/
.alimtalk_tpl{
    padding: 12px;
    width: 100%;
    height: 100%;
}

.alimtalk_tpl .header_cont{
    height: 15%;
}

.alimtalk_tpl .header_cont .title{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

.alimtalk_tpl .header_cont .description{
    font-size: 16px;
    color: #343434;
}

.alimtalk_tpl .option_header_group{
    background-color: #e0e0e0;
    width: 100%;
    height: 8%;
    margin-bottom: 8px;
    /*justify-content: end;*/
    align-items: center;
    display: flex;
    padding: 4px 12px;
}

.alimtalk_tpl .option_header_group .left{
    /*padding-left: 12px;*/
    width: 40%;
}
.alimtalk_tpl .option_header_group .left .btn_add{
    background-color: #4781ff;
    color: white;
    border-radius: 4px;
    padding: 3px 14px;
    font-size: 14px;
}

.alimtalk_tpl .option_header_group .left .btn_reload{
    width: 26px;
    height: 26px;
    background: url(../images/refresh_icon.png) no-repeat center / 100%;
    margin-right: 8px;
    transition: all ease-in-out 0.1s;
}
.alimtalk_tpl .option_header_group .left .btn_reload:active{
    transform: scale(80%);
}

.alimtalk_tpl .option_header_group .left .btn_add.submit{
    background-color: #15ab2d;
    margin-right: 4px;
}

.alimtalk_tpl .option_header_group .left .btn_add.cancel{
    background-color: #ab9f15;
}

.alimtalk_tpl .option_header_group .left .btn_add:hover{
    opacity: 0.8
}
.alimtalk_tpl .option_header_group .left .btn_add:active{
    opacity: 0.5;
}


.alimtalk_tpl .option_header_group .right{
    width: 60%;
    /*height: 100%;*/
    /*align-content: center;*/
    /*justify-items: end;*/
}

.alimtalk_tpl .option_header_group .right .count_text{
    font-size: 15px;
    margin-right: 8px;
    float: right;
}

.alimtalk_tpl .option_header_group .count_text span{
    color: #4781ff;
    font-weight: 500;
    margin-left: 1px;
    margin-right: 1px;
}

.alimtalk_tpl .option_header_group .right .inp_search{
    width: 60%;
    border-radius: 4px;
    height: 100%;
    padding: 2px 6px;
    text-align: end;
    float: right;
}

.alimtalk_tpl .body_cont{
    background-color: #dcdcff;
    height: calc(77% - 8px - 28px);
    padding: 10px 8px
}

.alimtalk_tpl .list_header{
    padding: 4px 32px;
    background-color: #e5e5e5;
    width: 100%;
    height: 28px;
    display: flex;
    /*align-content: center;*/
    text-align: center;
    /*margin-bottom: 8px;*/
    font-size: 14px;
    white-space: nowrap;
}

.alimtalk_tpl .list_header .grp_code{
    width: 5%;
}
.alimtalk_tpl .list_header .name{
    width: 40%;
}
.alimtalk_tpl .list_header .tpl_code{
    width: 10%;
}
.alimtalk_tpl .list_header .description{
    width: 40%;
}
.alimtalk_tpl .list_header .status{
    width: 5%;
}

.alimtalk_tpl .body_cont .list_item{
    border-radius: 6px;
    background-color: #d3beff;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 6px 32px;
    white-space: nowrap;
    text-align: center;
}
.alimtalk_tpl .body_cont .list_item.new_data{
    background-color: #b9cfff;
}

.alimtalk_tpl .body_cont .list_item + .list_item{
    margin-top: 10px;
}
.alimtalk_tpl .body_cont .list_item .grp_code{
    text-align: center;
    font-size: 14px;
    width: 5%;
}

.alimtalk_tpl .body_cont .list_item .name{
    text-align: center;
    width: 40%;
    font-size: 14px;
    overflow-wrap: break-word;
}


.alimtalk_tpl .body_cont .list_item .tpl_code{
    text-align: center;
    width: 10%;
    font-size: 14px;
    color: #707070;
}

.alimtalk_tpl .body_cont .list_item .description{
    width: 40%;
    /*text-align: center;*/
}
.alimtalk_tpl .body_cont .list_item .status_box{
    width: 5%;
}
.alimtalk_tpl .body_cont .list_item .status_box .status_icon{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}
.alimtalk_tpl .body_cont .list_item .status_icon.red{
    background-color: #e32a2a;
}
.alimtalk_tpl .body_cont .list_item .status_icon.green{
    background-color: green;
}
.alimtalk_tpl .body_cont .list_item .status_icon.yellow{
    background-color: #dcdc21;
}



/*관리*/
.manage_box{
    padding: 0 8px 0 8px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.manage_box .btn{
    /*display: inline-block;*/
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
}

.manage_box .btn.btn_red{
    border-color: red;
    color: red;
}

.manage_box .btn.btn_blue{
    border-color: #4781ff;
    color: #4781ff;
}

.manage_box .btn.btn_grey{
    border-color: #b6b6b6;
    color: #b6b6b6;
}

.manage_box .btn.w50{
    width: 48%;
}
.manage_box .btn.w50.btn_red:hover{
    background-color: #ffdede;
}
.manage_box .btn.w50.btn_blue:hover{
    background-color: #e2ecff;
}
.manage_box .btn.w50 + .btn.w50{
    margin-left: 4%;
}

/*매장 방문 내역 페이지 */
.visit_map{
    position: relative;
    width: 100%;
    height: 900px;
    /*background-color: tan;*/
}

.visit_map .header_group{
    margin-top: 40px;
    width: 100%;
    height: 5%;
    /*background-color: green;*/
}

.visit_map .header_group .title{
    width: 100%;
    height: 100%;
    margin: 44px 0 0 185px;
    font-size: 24px;
    font-weight: 700;
    align-content: center;
}

.visit_map .body_group{
    display: flex;
    height: 95%;
}

.visit_map .body_group .map_panel{
    background-color: #e7e7e7;
    /*display: inline-block;*/
    width: 50%;
    height: 100%;
    padding: 25px;
}

.visit_map .body_group .map_panel .map_cont{
    background-color: #3bd500;
    width: 100%;
    height: 100%;
}


.visit_map .body_group .detail_panel{
    background-color: #ffdddd;
    /*display: inline-block;*/
    padding: 15px;
    width: 50%;
    height: 100%;
}

.visit_map .body_group .detail_panel .list_header{
    width: 100%;
    height: 70px;
    padding: 0 20px 0 20px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;

}

.visit_map .body_group .detail_panel .list_header .inp_search{
    width: 60%;
    height: 45px;
    padding: 2px 8px 2px 8px;
    font-size: 18px;
    border-radius: 8px;
}

.visit_map .body_group .detail_panel .list_header .btn{
    height: 45px;

}

.visit_map .body_group .detail_panel .list_header .btn.btn_sort{
    margin-left: 20px;
    width: 32px;
    background: url(../images/sort_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_filter{
    margin-left: 12px;
    width: 36px;
    background: url(../images/filter_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_search{
    margin-left: 14px;
    width: 46px;
    background: url(../images/search_icon.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn_add{
    width: 100px;
    height: 32px;
    background-color: #4781ff;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 12px;
    margin-left: 16px;
}

.visit_map .body_group .detail_panel .table_shop{
    padding: 14px 20px 14px 20px;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    overflow-y: auto;
    /*table-layout: fixed;*/
}

.visit_map .body_group .detail_panel .table_shop .thead .tr{
    border-bottom: 1px solid black;
    height: 10px;
}

.visit_map .body_group .detail_panel .table_shop .th{
    position: relative;
    padding:10px; background-color:#f8f8f9; color:#62626e;
    font-size:14px; font-weight:400; text-align:center;
    line-height:16px;
    user-select: none;
    left: 0;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr {
    background-color: #f3f3f3;
    height: 1px;
    cursor: pointer;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr:hover{
    background-color: #e3e3e3;
}

.visit_map .body_group .detail_panel .table_shop .tbody .tr .td{
    position: relative;
    padding:2px;
    /*border-right:2px solid #f4f4f5;*/
    /*border-bottom:1px solid rgba(227, 227, 227, 0.9);*/
    color:#28272c; font-size:14px; text-align:center;
    /*height: 32px;*/
    line-height:32px;
}

/*방문 매장 추가 모달창*/
.add_visit_map_cont{
    width: 100%;
    height: 100%;
    display: flex;
}

.add_visit_map_cont .map_panel{
    width: 50%;
    height: 100%;
    padding: 15px;
}

.add_visit_map_cont .input_panel{
    width: 50%;
    height: 100%;
    padding: 15px;
}

.add_visit_map_cont .input_panel .row_inp_group{
    background-color: #cfe0ff;
    height: 76px;
    display: flex;
    padding: 2px 16px;
    align-items: center;
}

.add_visit_map_cont .input_panel .row_inp_group + .row_inp_group{
    margin-top: 4px;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box{
    width: 100%;
    height: 100%;
    align-content: center;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box + .col_inp_box{
    margin-left: 12px;
}

.add_visit_map_cont .input_panel .row_inp_group .col_inp_box.w50{
    width: 48%;
}
.add_visit_map_cont .input_panel .row_inp_group .col_inp_box.w30{
    width: 30%;
}

.add_visit_map_cont .input_panel .row_inp_group .subject_text{
    margin-left: 2px;
    font-size: 13px;
    margin-bottom: 1px;
}
.add_visit_map_cont .input_panel .row_inp_group .inp{
    padding: 1px 6px;
    border-radius: 6px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.add_visit_map_cont .input_panel .row_inp_group .flex_box{
    display: flex;
}

.add_visit_map_cont .input_panel .row_inp_group .textarea{
    width: 100%;
    height: 72%;
    border-radius: 6px;
    resize: none;
    padding: 4px 8px;
    font-size: 14px;
}
.add_visit_map_cont .input_panel .row_inp_group .btn{
    width: 25%;
    background-color: #4781ff;
    margin-left: 8px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

.add_visit_map_cont .input_panel .visit_log_section{
    padding: 8px;
    /*font-weight: 200;*/
    background-color: #e0e0e0;
    height: 200px;
}

.add_visit_map_cont .input_panel .visit_log_table{
    border-radius: 12px;
}
.add_visit_map_cont .input_panel .visit_log_table .thead{
    background-color: #f1f1f1;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody{
    overflow-y: auto;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .tr{
    background-color: white;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .td{
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.add_visit_map_cont .input_panel .visit_log_table .tbody .tr .btn_detail{
    font-size: 10px;
    color: red;
}

.add_visit_map_cont .input_panel .option_bottom_group{
    display: flex;
    align-items: center;
    padding: 16px 8px;
    float: right;
}

.add_visit_map_cont .input_panel .option_bottom_group .btn{
    background-color: white;
    color: #4781ff;
    border: 0.13rem solid #4781ff;
    padding: 4px 8px;
    border-radius: 8px;
    width: 120px;
    font-weight: 550;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn:not(.btn_red):hover{
    background-color: #4781ff;
    color: white;
    border-color: #4781ff;
    transition: all ease-in-out 0.15s;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn.btn_red{
    background-color: #ff6767;
    color: white;
    border-color: #ff6767;
}
.add_visit_map_cont .input_panel .option_bottom_group .btn.btn_red:hover{
    background-color: #ff9898;
    border-color: #ff9898;

}

.add_visit_map_cont .input_panel .option_bottom_group .btn + .btn{
    margin-left: 12px;
}

/*Navermaps Custom Overlay*/
.navermaps_custom_overlay{
    width: 38px;
    height: 38px;
    background: url(../images/marker/grey_marker_icon.png) no-repeat center / 100%;
}

.navermaps_custom_overlay.red{
    background: url(../images/marker/red_marker_icon.png) no-repeat center / 100%;
}
.navermaps_custom_overlay.blue{
    background: url(../images/marker/blue_marker_icon.png) no-repeat center / 100%;
}

