<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.AccountMapper">
    <select id="select">
        select
        *
        from
        tb_account
        where
        ${qs}
    </select>

    <select id="search" parameterType="com.momo.vo.CommonVO">
        select
        *
        from
        tb_account
        where
            ${andSelect} and
            ${orSearch}
        ${prop}
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_account
    </select>

    <insert id="insert" parameterMap="java.util.Map">
        insert into
            tb_account
            (id, pwd, name, email, tel, terms)
        VALUES
            (#{id},#{pwd},#{name},#{email},#{tel},#{terms})
    </insert>

    <update id="update" parameterMap="java.util.Map">
        update
            tb_account
        set
            name=#{name},
            email=#{email},
            tel=#{tel},
            terms=#{terms}
        where
            id=#{id}
    </update>

    <update id="updatePassword" parameterMap="java.util.Map">
        update
            tb_account
        set
            pwd=#{update_pwd}
        where
            id=#{id} and
            pwd=#{pwd}
    </update>

    <update id="updateRole" parameterMap="java.util.Map">
        update
        tb_account
        set
            role=#{role}
        where
            id=#{id}
    </update>

    <delete id="delete" parameterMap="java.util.Map">
        delete from
            tb_account
        where
            id=#{id}
    </delete>
</mapper>