<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.CorpMapper">
    <select id="select">
        select
            *
        from
            tb_corp
        where
            ${qs}
    </select>

    <select id="search" parameterType="com.momo.vo.CommonVO">
        select
        *
        from
            tb_corp
        where
            ${andSelect} and
            ${orSearch}
        ${prop}
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_corp;
    </select>

    <insert id="insert" parameterMap="java.util.Map">
        insert into
            tb_corp
            (id, b_no, p_ko_nm, p_en_nm, corp_nm, corp_tel, start_dt)
        values
            (#{id},#{b_no},#{p_ko_nm},#{p_en_nm},#{corp_nm},#{corp_tel},#{start_dt})
    </insert>

    <update id="update" parameterMap="java.util.Map">
        update
            tb_corp
        set
            p_ko_nm=#{p_ko_nm},
            p_en_nm=#{p_en_nm},
            corp_nm=#{corp_nm},
            corp_tel=#{corp_tel},
            start_dt=#{start_dt}
        where
            id=#{id}
    </update>

    <delete id="delete" parameterMap="java.util.Map">
        delete from
            tb_corp
               where
                   id=#{id}
    </delete>


</mapper>