<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoneManagement.mapper.CustomerMapper">
    <select id="search" parameterType="com.phoneManagement.dto.CustomerDTO">
        select
            *
        from
            tb_customer
        where
        <if test='id != null and !id.equals("")'>
            cust_id=#{id} and
        </if>
        <if test='pwd != null and !pwd.equals("")'>
            cust_pwd=#{pwd} and
        </if>
        <if test='email != null and !email.equals("")'>
            cust_email=#{email} and
        </if>
        <if test='name != null and !name.equals("")'>
            cust_nm=#{name} and
        </if>
        <if test='phNo != null and !phNo.equals("")'>
            cust_ph_no=#{phoneNo} and
        </if>
            1 = 1
        <if test='targetColumn != null and !targetColumn.equals("")'>
            and ${targetColumn} like '%${keyword}%'
        </if>
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="select">
        select
            *
        from
            tb_customer
        where
            cust_id=#{id}
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_customer;
    </select>

    <insert id="insert" parameterType="com.phoneManagement.dto.CustomerDTO">
        insert into
            tb_customer
        (cust_id,
         cust_pwd,
         cust_nm,
         cust_email,
         cust_ph_no)
        values
            (#{id},#{pwd},#{name},#{email},#{phoneNo})
    </insert>

    <update id="update" parameterType="com.phoneManagement.dto.CustomerDTO">
        update
            tb_customer
        set
            cust_pwd=#{pwd},
            cust_nm=#{name},
            cust_email=#{email},
            cust_ph_no=#{phoneNo}
        where
            cust_id=#{id}
    </update>

    <delete id="delete" parameterType="com.phoneManagement.dto.CustomerDTO">
        delete from
            tb_customer
               where
                   cust_id=#{id}
    </delete>

</mapper>