<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.EmployeeMapper">
    <select id="selectById">
        select
            *
        from
            tb_emp
        where
            id=#{id}
    </select>

    <select id="select" parameterType="com.momo.vo.UserInfoVO">
        select
        *
        from
        tb_emp
        where
        <if test='id != null and !id.equals("")'>
            id=#{id} and
        </if>
        <if test='role != null and !role.equals("")'>
            role=#{role} and
        </if>
        <if test='bNo != null and !bNo.equals("")'>
            b_no=#{bNo} and
        </if>
        <if test='shopCd != null and shopCd gt 0'>
            shop_cd=#{shopCd} and
        </if>
        1 = 1
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="search" parameterType="com.momo.vo.UserInfoVO">
        select
            *
        from
        tb_emp
        where
        <if test='id != null and !id.equals("")'>
            id like '%${id}%' and
        </if>
        <if test='role != null and !role.equals("")'>
            role like '%${role}%' and
        </if>
        <if test='bNo != null and !bNo.equals("")'>
            b_no like '%${bNo}%' and
        </if>
        <if test='shopCd != null and !shopCd.equals("")'>
            shop_cd like '%${shopCd}%' and
        </if>
            1 = 1
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>


    <select id="selectAll">
        select
            *
        from
            tb_emp
    </select>

    <insert id="insert" parameterType="com.momo.vo.UserInfoVO">
        insert into
            tb_emp
            (id, role, b_no, shop_cd)
        VALUES
            (#{id},#{role},#{bNo},#{shopCd})
    </insert>

    <update id="update" parameterType="com.momo.vo.UserInfoVO">
        update
            tb_emp
        set
            shop_cd=#{shopCd},
            approval_st=#{approvalSt}
        where
            id=#{id}
    </update>

    <update id="updateShop" parameterType="com.momo.vo.UserInfoVO">
        update
            tb_emp
        set
            shop_cd=#{shopCd}
        where
            id=#{id}
    </update>

    <delete id="delete" parameterType="com.momo.vo.UserInfoVO">
        delete from
            tb_emp
        where
            id=#{id}
    </delete>

</mapper>