<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoneManagement.mapper.EmployeeMapper">
    <select id="search" parameterType="com.phoneManagement.dto.EmployeeDTO">
        select
            *
        from
            tb_employee
        where
        <if test='id != null and !id.equals("")'>
            emp_id=#{id} and
        </if>
        <if test='pwd != null and !pwd.equals("")'>
            emp_pwd=#{pwd} and
        </if>
        <if test='email != null and !email.equals("")'>
            emp_email=#{email} and
        </if>
        <if test='name != null and !name.equals("")'>
            emp_nm=#{name} and
        </if>
        <if test='phNo != null and !phNo.equals("")'>
            emp_ph_no=#{phoneNo} and
        </if>
            1 = 1
        <if test='targetColumn != null and !targetColumn.equals("")'>
            and ${targetColumn} like '%${keyword}%'
        </if>
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="select">
        select
            *
        from
            tb_employee
        where
            emp_id=#{id}
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_employee;
    </select>

    <insert id="insert" parameterType="com.phoneManagement.dto.EmployeeDTO">
        insert into tb_employee
        (emp_id,
         emp_pwd,
         emp_email,
         emp_nm,
         emp_ph_no,
         role,
         shop_cd)
        values (#{id}, #{pwd}, #{email}, #{name},#{phoneNo},#{role},#{shopCode})
    </insert>

    <update id="update" parameterType="com.phoneManagement.dto.EmployeeDTO">
        update
            tb_employee
        set
            emp_pwd=#{pwd},
            emp_email=#{email},
            emp_nm=#{name},
            emp_ph_no=#{phoneNo},
            role=#{role},
            shop_cd=#{shopCode}
        where
            emp_id=#{id}
    </update>

    <delete id="delete" parameterType="com.phoneManagement.dto.EmployeeDTO">
        delete from
            tb_employee
               where
                   emp_id=#{id}
    </delete>

</mapper>