<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.EmployeeMapper">
    <select id="search" parameterType="com.momo.dto.UserDTO">
        select
            *
        from
            tb_employee
        where
        <if test='id != null and !id.equals("")'>
            emp_id=#{id} and
        </if>
        <if test='pwd != null and !pwd.equals("")'>
            emp_pwd=#{pwd} and
        </if>
        <if test='email != null and !email.equals("")'>
            emp_email=#{email} and
        </if>
        <if test='name != null and !name.equals("")'>
            emp_nm=#{name} and
        </if>
        <if test='tel != null and !tel.equals("")'>
            emp_tel=#{tel} and
        </if>
            1 = 1
        <if test='targetColumn != null and !targetColumn.equals("")'>
            and ${targetColumn} like '%${keyword}%'
        </if>
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="selectById">
        select
            *
        from
            tb_employee
        where
            emp_id=#{id}
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_employee;
    </select>

    <insert id="insert" parameterType="com.momo.dto.UserDTO">
        insert into tb_employee
        (emp_id,
         emp_pwd,
         emp_email,
         emp_nm,
         emp_tel,
         role,
         shop_cd)
        values (#{id}, #{pwd}, #{email}, #{name},#{tel},#{role},#{shopCode})
    </insert>

    <update id="update" parameterType="com.momo.dto.UserDTO">
        update
            tb_employee
        set
            emp_email=#{email},
            emp_nm=#{name},
            emp_tel=#{tel},
            role=#{role},
            shop_cd=#{shopCode}
        where
            emp_id=#{id}
    </update>

    <update id="updatePassword" parameterType="com.momo.dto.UserDTO">
        update
            tb_employee
        set
            emp_pwd=#{updatePwd}
        where
            emp_id=#{id} and
            emp_pwd=#{pwd}
    </update>

    <delete id="delete" parameterType="com.momo.dto.UserDTO">
        delete from
            tb_employee
               where
                   emp_id=#{id}
    </delete>

</mapper>