<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.GMDMapper">
<!--    정적 목록-->
    <select id="getDevice">
        select device_id as id,
                device_nm as name,
                device_cd as code,
                provider
        from    tb_device
        where
        <if test="keyword != null and !keyword.equals('')">
            (
            device_cd like '%${keyword}%' or
            device_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getSecondDevice">
        select sd_id as id,
               sd_nm as name,
               sd_cd as code,
               provider
        from    tb_second_device
        where
        <if test="keyword != null and !keyword.equals('')">
            (
            sd_cd like '%${keyword}%' or
            sd_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getSecondDeviceById">
        select sd_nm,
                sd_cd
        from    tb_second_device
        where sd_id=#{id}
    </select>

    <select id="getCtPlan">
        select ct_plan_id as id,
        ct_plan_nm as name,
        provider
        from    tb_ct_plan
        where
        <if test="keyword != null and !keyword.equals('')">
            (
            ct_plan_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

<!--    동적 목록-->
    <select id="getExtraService" parameterType="com.momo.common.vo.GMDVO">
        select exsvc_id as id,
               exsvc_nm as name,
               provider
        from    tb_extra_service
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
                exsvc_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
<!--        <if test="order != null and !order.equals('')">-->
<!--            order by ${order} ${asc}-->
<!--        </if>-->
        limit 20
    </select>

    <select id="getInternetPlan">
        select internet_plan_id as id,
               internet_plan_nm as name,
               provider
        from    tb_internet_plan
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
            internet_plan_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getTvPlan">
        select tv_plan_id as id,
                tv_plan_nm as name,
                provider
        from    tb_tv_plan
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
            tv_plan_nm like '%${keyword}%'
            ) and
        </if>
        <if test="provider != null and !provider.equals('')">
            provider = #{provider} and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getComb">
        select comb_tp_id as id,
               comb_tp_nm as name
        from    tb_comb_tp
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
            comb_tp_nm like '%${keyword}%'
            ) and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getSupportDiv">
        select sup_div_id as id,
               sup_div_nm as name
        from    tb_sup_div
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
            sup_div_nm like '%${keyword}%'
            ) and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <select id="getAddDiv">
        select add_div_id as id,
               add_div_nm as name
        from    tb_add_div
        where shop_id = #{currShopId} and
        <if test="keyword != null and !keyword.equals('')">
            (
            add_div_nm like '%${keyword}%'
            ) and
        </if>
        1=1
        <!--        <if test="order != null and !order.equals('')">-->
        <!--            order by ${order} ${asc}-->
        <!--        </if>-->
        limit 20
    </select>

    <insert id="insertDeviceAll">
        set @next_id := (
            select IFNULL(max(device_id),0)+1
            from tb_device
        );

        insert into tb_device
        (device_id, provider, device_nm, device_cd)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name},#{item.code}
        </foreach>
    </insert>

    <insert id="insertSecondDeviceAll">
        set @next_id := (
        select IFNULL(max(sd_id),0)+1
        from tb_second_device
        );

        insert into tb_second_device
        (sd_id, provider, sd_nm, sd_cd)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name},#{item.code}
        </foreach>
    </insert>

    <insert id="insertCtPlanAll">
        set @next_id := (
        select IFNULL(max(ct_plan_id),0)+1
        from tb_ct_plan
        );

        insert into tb_ct_plan
       (ct_plan_id, provider, ct_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertInternetPlanAll">
        set @next_id := (
        select IFNULL(max(internet_plan_id),0)+1
        from tb_internet_plan
        );

        insert into tb_internet_plan
        (shop_id, internet_plan_id, provider, internet_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertTvPlanAll">
        set @next_id := (
        select IFNULL(max(tv_plan_id),0)+1
        from tb_tv_plan
        );

        insert into tb_tv_plan
        (shop_id, tv_plan_id, provider, tv_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertExtraServiceAll">
        set @next_id := (
        select IFNULL(max(exsvc_id),0)+1
        from tb_extra_service
        );

        insert into tb_extra_service
        (shop_id, exsvc_id, provider, exsvc_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertSupportDivAll">
        set @next_id := (
        select IFNULL(max(sup_div_id),0)+1
        from tb_sup_div
        );

        insert into tb_sup_div
        (shop_id, sup_div_id, sup_div_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>

    <insert id="insertAddDivAll">
        set @next_id := (
        select IFNULL(max(add_div_id),0)+1
        from tb_add_div
        );

        insert into tb_add_div
        (shop_id, add_div_id, add_div_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>

    <insert id="insertCombAll">
        set @next_id := (
        select IFNULL(max(tv_plan_id),0)+1
        from tb_comb_tp
        );

        insert into tb_comb_tp
        (shop_id, comb_tp_id, comb_tp_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>


</mapper>