<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.GMDMapper">
<!--    정적 목록-->
    <select id="getDevice">
        with base as (
            select *
            from tb_device
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                device_cd like '%${keyword}%' or
                device_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select JSON_ARRAYAGG(json_object(
            'id',device_id,
            'name',device_nm,
            'code',device_cd,
            'provider',provider
            ))
            from    search
        )

        select (
            select IFNULL(count(*),0)
            from base
        ) as total_cnt,
            (
                select *
                from result
        ) as list
    </select>

    <select id="getSecondDevice">
        with base as (
            select *
            from tb_second_device
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                sd_cd like '%${keyword}%' or
                sd_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select JSON_ARRAYAGG(JSON_OBJECT(
            'id',sd_id,
            'name',sd_nm,
            'code',sd_cd,
            'provider',provider
            ))
            from    search

        select (
            select IFNULL(count(*),0)
            from base
        ) as total_cnt,
            (
                select *
                from result
        ) as list
    </select>

    <select id="getSecondDeviceById">
        select sd_nm,
                sd_cd
        from    tb_second_device
        where sd_id=#{id}
    </select>

    <select id="getCtPlan">
        with base as (
            select *
            from tb_ct_plan
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                ct_plan_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',ct_plan_id,
            'name',ct_plan_nm,
            'provider',provider
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

<!--    동적 목록-->
    <select id="getExtraService" parameterType="com.momo.common.vo.GMDVO">
        with base as (
            select *
            from tb_extra_service
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                exsvc_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',exsvc_id,
            'name',exsvc_nm,
            'provider',provider
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

    <select id="getInternetPlan">
        with base as (
            select *
            from tb_internet_plan
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                internet_plan_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',internet_plan_id,
            'name',internet_plan_nm,
            'provider',provider
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

    <select id="getTvPlan">
        with base as (
            select *
            from tb_tv_plan
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                tv_plan_nm like '%${keyword}%'
                ) and
            </if>
            <if test="provider != null and !provider.equals('')">
                provider = #{provider} and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',tv_plan_id,
            'name',tv_plan_nm,
            'provider',provider
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

    <select id="getComb">
        with base as (
            select *
            from tb_comb_tp
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                comb_tp_nm like '%${keyword}%'
                ) and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',comb_tp_id,
            'name',comb_tp_nm
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

    <select id="getSupportDiv">
        with base as (
            select *
            from tb_sup_div
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                sup_div_nm like '%${keyword}%'
                ) and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',sup_div_id,
            'name',sup_div_nm
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>

    <select id="getAddDiv">
        with base as (
            select *
            from tb_add_div
            where shop_id=#{currShopId}
        ), search as (
            select *
            from    base
            where
            <if test="keyword != null and !keyword.equals('')">
                (
                add_div_nm like '%${keyword}%'
                ) and
            </if>
            1=1
            <if test="order != null and !order.equals('')">
                order by ${order} ${asc}
            </if>
            <if test="limit != null and !limit.equals('')">
                limit ${limit}
            </if>
        ), result as (
            select json_arrayagg(json_object(
            'id',add_div_id,
            'name',add_div_nm
            ))
            from    search
        )

        select (
        select IFNULL(count(*),0)
        from base
        ) as total_cnt,
        (
        select *
        from result
        ) as list
    </select>


<!--    insert-->
    <insert id="insertDeviceAll">
        set @next_id := (
            select IFNULL(max(device_id),0)+1
            from tb_device
        );

        insert into tb_device
        (device_id, provider, device_nm, device_cd)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name},#{item.code}
        </foreach>
    </insert>

    <insert id="insertSecondDeviceAll">
        set @next_id := (
        select IFNULL(max(sd_id),0)+1
        from tb_second_device
        );

        insert into tb_second_device
        (sd_id, provider, sd_nm, sd_cd)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name},#{item.code}
        </foreach>
    </insert>

    <insert id="insertCtPlanAll">
        set @next_id := (
        select IFNULL(max(ct_plan_id),0)+1
        from tb_ct_plan
        );

        insert into tb_ct_plan
       (ct_plan_id, provider, ct_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            (@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertInternetPlanAll">
        set @next_id := (
        select IFNULL(max(internet_plan_id),0)+1
        from tb_internet_plan
        );

        insert into tb_internet_plan
        (shop_id, internet_plan_id, provider, internet_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertTvPlanAll">
        set @next_id := (
        select IFNULL(max(tv_plan_id),0)+1
        from tb_tv_plan
        );

        insert into tb_tv_plan
        (shop_id, tv_plan_id, provider, tv_plan_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertExtraServiceAll">
        set @next_id := (
        select IFNULL(max(exsvc_id),0)+1
        from tb_extra_service
        );

        insert into tb_extra_service
        (shop_id, exsvc_id, provider, exsvc_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.provider},#{item.name}
        </foreach>
    </insert>

    <insert id="insertSupportDivAll">
        set @next_id := (
        select IFNULL(max(sup_div_id),0)+1
        from tb_sup_div
        );

        insert into tb_sup_div
        (shop_id, sup_div_id, sup_div_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>

    <insert id="insertAddDivAll">
        set @next_id := (
        select IFNULL(max(add_div_id),0)+1
        from tb_add_div
        );

        insert into tb_add_div
        (shop_id, add_div_id, add_div_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>

    <insert id="insertCombAll">
        set @next_id := (
        select IFNULL(max(tv_plan_id),0)+1
        from tb_comb_tp
        );

        insert into tb_comb_tp
        (shop_id, comb_tp_id, comb_tp_nm)
        VALUES
        <foreach collection="list" index="index" item="item" open="(" close=")" separator="), (">
            #{currShopId},(@next_id+#{index}),#{item.name}
        </foreach>
    </insert>

<!--    delete-->
    <delete id="deleteDeviceAll">
        delete from tb_device
        where
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            device_id=#{item}
        </foreach>
        )
    </delete>
    <delete id="deleteSecondDeviceAll">
        delete from tb_second_device
        where
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            sd_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteCtPlanAll">
        delete from tb_ct_plan
        where
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            ct_plan_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteInternetPlanAll">
        delete from tb_internet_plan
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            internet_plan_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteTvPlanAll">
        delete from tb_tv_plan
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            tv_plan_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteSupportDivAll">
        delete from tb_sup_div
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            sup_div_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteAddDivAll">
        delete from tb_add_div
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            add_div_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteExsvcAll">
        delete from tb_extra_service
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            exsvc_id=#{item}
        </foreach>
        )
    </delete>

    <delete id="deleteCombTpAll">
        delete from tb_comb_tp
        where shop_id=#{currShopId} and
        (
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            comb_tp_id=#{item}
        </foreach>
        )
    </delete>

<!--    update-->
    <update id="updateDevice">
        update tb_device
        set provider=#{provider},
            device_cd=#{code},
            device_nm=#{name}
        where device_id=#{id}
    </update>

    <update id="updateSecondDevice">
        update tb_second_device
        set provider=#{provider},
            sd_cd=#{code},
            sd_nm=#{name}
        where sd_id=#{id}
    </update>

    <update id="updateCtPlan">
        update tb_ct_plan
        set provider=#{provider},
            ct_plan_nm=#{name}
        where ct_plan_id=#{id}
    </update>

    <update id="updateInternetPlan">
        update tb_internet_plan
        set provider=#{provider},
            internet_plan_nm=#{name}
        where internet_plan_id=#{id} and
              shop_id=#{currShopId}
    </update>

    <update id="updateTvPlan">
        update tb_tv_plan
        set provider=#{provider},
            tv_plan_nm=#{name}
        where tv_plan_id=#{id} and
            shop_id=#{currShopId}
    </update>

    <update id="updateSupportDiv">
        update tb_sup_div
        set sup_div_nm=#{name}
        where sup_div_id=#{id} and
            shop_id=#{currShopId}
    </update>

    <update id="updateAddDiv">
        update tb_add_div
        set add_div_nm=#{name}
        where add_div_id=#{id} and
            shop_id=#{currShopId}
    </update>

    <update id="updateExsvc">
        update tb_extra_service
        set provider=#{provider},
            exsvc_nm=#{name}
        where exsvc_id=#{id} and
            shop_id=#{currShopId}
    </update>

    <update id="updateCombTp">
        update tb_comb_tp
        set comb_tp_nm=#{name}
        where comb_tp_id=#{id} and
            shop_id=#{currShopId}
    </update>
</mapper>