<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.MsgReserveMapper">

    <select id="getReservedMessageByBno">
        select
            s.shop_cd as shop_cd,
            s.shop_nm as shop_nm,
            mr.sale_no as sale_no,
            mr.send_tp as send_tp,
            mr.send_st as send_st,
            mr.cust_nm as cust_nm,
            mr.cust_tel as cust_tel,
            mr.content as content,
            mr.seller_id as seller_id,
            a.name as seller_nm,
            mr.rsv_dt as rsv_dt,
            mr.regi_dt as regi_dt
        from
            tb_msg_rsv mr
                left outer join tb_shop s on mr.shop_cd=s.shop_cd
        left outer join tb_account a on mr.seller_id=a.id
        where
            s.b_no=#{bNo}
    </select>
    
    <select id="search" parameterType="com.momo.vo.MessageVO">
        with tb as (
            select
            s.shop_cd as shop_cd,
            s.shop_nm as shop_nm,
            mr.sale_no as sale_no,
            mr.send_tp as send_tp,
            mr.send_st as send_st,
            mr.cust_nm as cust_nm,
            mr.cust_tel as cust_tel,
            mr.content as content,
            mr.seller_id as seller_id,
            a.name as seller_nm,
            mr.rsv_dt as rsv_dt,
            mr.regi_dt as regi_dt
            from
            tb_msg_rsv mr
            left outer join tb_shop s on mr.shop_cd=s.shop_cd
            left outer join tb_account a on mr.seller_id=a.id
        )

        select
            *
        from
            tb
        where
            ${orSearch} and
            ${andSelect}
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby} ${side}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>

    </select>

    <select id="getMaxMsgId">
        select
            count(*)
        from
            tb_msg_rsv
        where
            shop_cd=#{shopCd}
    </select>

    <insert id="insert" parameterType="com.momo.vo.MessageVO">
        insert into
        tb_msg_rsv
        (msg_id, shop_cd, send_tp, cust_nm, cust_tel, content, seller_id, rsv_dt)
        values
            (#{msgId},#{shopCd},#{sendTp},#{custNm},#{custTel},#{content},#{sellerId},#{rsvDt})
    </insert>

</mapper>