<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.PlanMapper">
    <select id="search" parameterType="com.momo.vo.PlanVO">
        select
            *
        from
            tb_plan
        where
            ${orSearch}
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby} ${side}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="getByMap" resultType="java.util.Map">
        select
            *
        from
            tb_plan
        where
            plan_id=#{planId}

    </select>

    <select id="selectAll">
        select
            *
        from
            tb_plan
    </select>
</mapper>