<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.RoleDetailUserMapper">
    <select id="search" parameterType="com.momo.vo.UserInfoVO">
        select
            *
        from
            tb_user
        where
        <if test='id != null and !id.equals("")'>
            id=#{id} and
        </if>
            1 = 1
        <if test='targetColumn != null and !targetColumn.equals("")'>
            and ${targetColumn} like '%${keyword}%'
        </if>
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>


    <select id="selectAll">
        select
            *
        from
            tb_user
    </select>

    <insert id="insert" parameterType="com.momo.vo.UserInfoVO">
        insert into
            tb_user
            (id, role, shop_cd)
        VALUES
            (#{id},#{role},#{shopCd})
    </insert>

    <update id="update" parameterType="com.momo.vo.UserInfoVO">
        update
            tb_user
        set
            shop_cd=#{shopCd}
        where
            id=#{id} and
            role=#{role}
    </update>

    <delete id="delete" parameterType="com.momo.vo.UserInfoVO">
        delete from
            tb_user
        where
            id=#{id}
    </delete>

</mapper>