<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.SaleMapper">
    <select id="search" parameterType="com.momo.vo.CommonVO">
        select
        *
        from
        tb_sale
        where
            ${andSelect} and
            ${orSearch}
        ${prop}
    </select>

    <select id="select" >
        select
            *
        from
            tb_sale
        where
            ${qs}
    </select>

    <select id="getMaxSaleNo">
        select
            max(sale_no)
        from
            tb_sale
    </select>

    <insert id="insert" parameterMap="java.util.Map">
        insert into
            tb_sale
        (sale_no, shop_cd, cust_nm, cust_tel, cust_cd, cust_gd, provider, actv_dt, ph_md, ph_stor, istm, actv_div, actv_tp, actv_plan,
         move_plan, ct_cms, green_md, green_ret, sec_md, sec_cms, wt_tp, wt_div, wt_cms, net_actv_plan, net_dec_plan, tv_actv_plan,
         tv_dec_plan, add_item, add_pay, add_dt, sup_div1, sup_pay1, sup_div2, sup_pay2, sup_div3, sup_pay3, sup_div4, sup_pay4, sup_div5,
         sup_pay5, friend, ex_svc, comb_move, card, card_div, tot_add_pay, tot_rb, tot_sup, def_pc, seller_cms, ct_pt, wt_pt, tot_pt, seller_id,
         spec, wt_expr_dt, non_disc, rsv_st, actv_time, etc)
        values
            (#{sale_no},#{shop_cd},#{cust_nm},#{cust_tel},#{cust_cd},#{cust_gd},#{provider},#{actv_dt},#{phMd},#{ph_md},#{istm},#{actv_div},#{actv_tp},#{actv_plan},
             #{move_plan},#{ct_cms},#{green_md},#{green_ret},#{sec_md},#{sec_cms},#{wt_tp},#{wt_div},#{wt_cms},#{net_actv_plan},#{net_dec_plan},#{tv_actv_plan},
             #{tv_dec_plan},#{add_item},#{add_pay},#{add_dt},#{sup_div1},#{sup_pay1},#{sup_div2},#{sup_pay2},#{sup_div3},#{sup_pay3},#{sup_div4},#{sup_pay4},
             #{sup_div5},#{sup_pay5},#{friend},#{ex_svc},#{comb_move},#{card},#{card_div},#{tot_add_pay},#{tot_rb},#{tot_sup},#{def_pc},#{seller_cms},#{ct_pt},
             #{wt_pt},#{tot_pt},#{seller_id},#{spec},#{wt_expr_dt},#{non_disc},#{rsv_st},#{actv_time},#{etc})
    </insert>

    <update id="update" parameterMap="java.util.Map">
        update
        tb_sale
        set
            cust_nm=#{cust_nm},cust_tel=#{cust_tel},cust_cd=#{cust_cd},cust_gd=#{cust_gd},provider=#{provider},actv_dt=#{actv_dt},ph_md=#{ph_md},
            ph_stor=#{ph_stor},istm=#{istm},actv_div=#{actv_div},actv_tp=#{actv_tp},actv_plan=#{actv_plan},
            move_plan=#{move_plan},ct_cms=#{ct_cms},green_md=#{green_md},green_ret=#{green_ret},sec_md=#{sec_md},sec_cms=#{sec_cms},wt_tp=#{wt_tp},
            wt_div=#{wt_div},wt_cms=#{wt_cms},net_actv_plan=#{net_actv_plan},net_dec_plan=#{net_dec_plan},tv_actv_plan=#{tv_actv_plan},
            tv_dec_plan=#{tv_dec_plan},add_item=#{add_item},add_pay=#{add_pay},add_dt=#{add_dt},sup_div1=#{sup_div1},sup_pay1=#{sup_pay1},
            sup_div2=#{sup_div2},sup_pay2=#{sup_pay2},sup_div3=#{sup_div3},sup_pay3=#{sup_pay3},sup_div4=#{sup_div4},sup_pay4=#{sup_pay4},
            sup_div5=#{sup_div5},sup_pay5=#{sup_pay5},friend=#{friend},ex_svc=#{ex_svc},comb_move=#{comb_move},card=#{card},card_div=#{card_div},
            tot_add_pay=#{tot_add_pay},tot_rb=#{tot_rb},tot_sup=#{tot_sup},def_pc=#{def_pc},seller_cms=#{seller_cms},ct_pt=#{ct_pt},
            wt_pt=#{wt_pt},tot_pt=#{tot_pt},seller_id=#{seller_id},spec=#{spec},wt_expr_dt=#{wt_expr_dt},non_disc=#{non_disc},
            rsv_st=#{rsv_st},actv_time=#{actv_time},etc=#{etc}
        where
            sale_no=#{sale_no}

    </update>

    <delete id="delete" parameterMap="java.util.Map">
        delete from
            tb_sale
        where
            sale_no=#{sale_no}
    </delete>

</mapper>