<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.ShopMapper">
    <select id="searchBranch" parameterType="com.momo.vo.ShopVO">
        with branch as(
            select
                c.id as id,
                c.corp_nm as corp_nm,
                c.b_no as b_no,
                s.shop_nm as shop_nm,
                s.shop_addr as shop_addr,
                s.shop_tel as shop_tel,
                s.shop_cd as shop_cd
            from
                tb_corp as c
            left outer join tb_shop s on c.b_no = s.b_no
            )

        select
            *
        from
            branch
        where
            b_no like '%${keyword}%' or
            corp_nm like '%${keyword}%' or
            shop_nm like '%${keyword}%'
        order by
            #{startDt}
        limit
            #{offset},#{limit}

    </select>

    <select id="countBranch" parameterType="com.momo.vo.ShopVO">
        with branch as(
            select
                c.corp_nm as corp_nm,
                c.b_no as b_no,
                s.shop_nm as shop_nm,
                s.shop_addr as shop_addr,
                s.shop_tel as shop_tel
            from
                tb_corp as c
                    left outer join tb_shop s on c.b_no = s.b_no
        )

        select
            count(*)
        from
            branch
        where
            b_no like '%${keyword}%' or
            corp_nm like '%${keyword}%' or
            shop_nm like '%${keyword}%'

    </select>


    
    <select id="select" parameterType="com.momo.vo.ShopVO">
        select
            *
        from
            tb_shop
        where
        <if test='shopCd gt 0'>
            shop_cd=#{shopCd} and
        </if>
        <if test='shopNm != null and !shopNm.equals("")'>
            shop_nm=#{shopNm} and
        </if>
        <if test='shopAddr != null and !shopAddr.equals("")'>
            shop_addr=#{shopAddr} and
        </if>
        <if test='shopTel != null and !shopTel.equals("")'>
            shop_tel=#{shopTel} and
        </if>
        <if test='bNo != null and !bNo.equals("")'>
            b_no=#{bNo} and
        </if>
            1 = 1
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>

    <select id="search" parameterType="com.momo.vo.ShopVO">
        select
        *
        from
        tb_shop
        where
        <if test='shopCd gt 0'>
            shop_cd like '%${shopCd}%' and
        </if>
        <if test='shopNm != null and !shopNm.equals("")'>
            shop_nm like '%${shopNm}%' and
        </if>
        <if test='shopAddr != null and !shopAddr.equals("")'>
            shop_addr like '%${shopAddr}%' and
        </if>
        <if test='shopTel != null and !shopTel.equals("")'>
            shop_tel like '%${shopTel}%' and
        </if>
        <if test='bNo != null and !bNo.equals("")'>
            b_no like '%${bNo}%' and
        </if>
        1 = 1
        <if test='orderby != null and !orderby.equals("")'>
            order by
            ${orderby}
        </if>
        <if test='limit != null and limit gt 0'>
            limit
            ${offset},${limit}
        </if>
    </select>
    
    <select id="getTotalRecordCount" parameterType="com.momo.vo.ShopVO">
        select
        count(*)
        from
        tb_shop
        where
        <if test='shopCd gt 0'>
            shop_cd=#{shopCd} and
        </if>
        <if test='shopNm != null and !shopNm.equals("")'>
            shop_nm=#{shopNm} and
        </if>
        <if test='shopAddr != null and !shopAddr.equals("")'>
            shop_addr=#{shopAddr} and
        </if>
        <if test='shopTel != null and !shopTel.equals("")'>
            shop_tel=#{shopTel} and
        </if>
        <if test='bNo != null and !bNo.equals("")'>
            b_no=#{bNo} and
        </if>
        1 = 1
    </select>

    <select id="selectAll">
        select
            *
        from
            tb_shop;
    </select>

    <insert id="insert" parameterType="com.momo.vo.ShopVO">
        insert into
            tb_shop
            (shop_cd, shop_nm, shop_addr, shop_tel, b_no)
        values
            (#{shopCd},#{shopNm},#{shopAddr},#{shopTel},#{bNo})
    </insert>

    <update id="update" parameterType="com.momo.vo.ShopVO">
        update
            tb_shop
        set
            shop_nm=#{shopNm},
            shop_tel=#{shopTel},
            shop_addr=#{shopAddr},
            b_no=#{bNo}
        where
            shop_cd=#{shopCd}
    </update>

    <delete id="delete" parameterType="com.momo.vo.ShopVO">
        delete from
            tb_shop
               where
                   shop_cd=#{shopCd}
    </delete>

    <select id="getMaxCode">
        select
            max(shop_cd)
        from
            tb_shop
    </select>

</mapper>