<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.TermMapper">
    <select id="selectTerm" parameterType="com.momo.common.vo.TermVO">
        select
            *
        from
            tb_term
        where
        <if test='termId != null'>
            term_id=#{termId} and
        </if>
        1 = 1
        <if test='order != null and !order.equals("")'>
            order by
            ${order} ${asc}
        </if>
        <if test='limit != null and offset != null'>
            limit ${offset} ${limit}
        </if>
    </select>
</mapper>