<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.UserCommonMapper">
    <update id="findGhostUserAndUpdateToDormant">

        update
            tb_account
        set
            user_st=2
        where
            role!='ADMIN' and
            user_st=1 and
            DATEDIFF(CURRENT_DATE, last_login_dt) > #{date}
    </update>

    <update id="loginNow">
        update
            tb_account
        set
            last_login_dt=NOW()
        where
            id=#{id}
    </update>

    <select id="searchUserInfo" parameterType="com.momo.vo.SearchVO">
        with tb as (
            select
                ac.*,
                cp.bp_no as bp_no,
                cp.corp_id as corp_id,
                cp.corp_nm,
                sh.shop_nm as shop_nm
            from
                tb_account ac
                    left outer join tb_emp em on em.emp_id=ac.id
                    left outer join tb_corp cp on cp.corp_id=em.corp_id
                    left outer join tb_shop sh on sh.shop_id=em.shop_id
        )

        select
            *
        from
            tb
        where
            ${andSelect} and
            ${orSearch}
                ${prop}
    </select>

    <select id="selectUserInfo" parameterType="com.momo.vo.UserCommonVO">
        with tb as (
            select
                ac.*,
                cp.bp_no as bp_no,
                cp.corp_id as corp_id,
                cp.corp_nm,
                sh.shop_nm as shop_nm
            from
                tb_account ac
        left outer join tb_emp em on em.emp_id=ac.id
        left outer join tb_corp cp on cp.corp_id=em.corp_id
        left outer join tb_shop sh on sh.shop_id=em.shop_id
        )

        select
            *
        from
            tb
        where
        <if test='id != null and !id.equals("")'>
            id=#{id} and
        </if>
        <if test='pwd != null and !pwd.equals("")'>
            pwd=#{pwd} and
        </if>
        <if test='email != null and !email.equals("")'>
            email=#{email} and
        </if>
        <if test='tel != null and !tel.equals("")'>
            tel=#{tel} and
        </if>
        <if test='role != null and !role.equals("")'>
            role=#{role} and
        </if>
        <if test='bpNo != null and !bpNo.equals("")'>
            bp_no=#{bpNo} and
        </if>
        <if test='corpId != null'>
            corp_id=#{corpId} and
        </if>
        <if test='corpNm != null and !corpNm.equals("")'>
            corp_nm=#{corpNm} and
        </if>
        <if test='shopNm != null and !shopNm.equals("")'>
            shop_nm=#{shopNm} and
        </if>
        <if test='regiDt != null and !regiDt.equals("")'>
            regi_dt=#{regiDt} and
        </if>
        1 = 1
        <if test='order != null and !order.equals("")'>
            order by
            ${order} ${asc}
        </if>
        <if test='limit != null and offset != null'>
            limit ${offset} ${limit}
        </if>
    </select>

<!--    User-->
    <select id="selectUser" parameterType="com.momo.vo.UserCommonVO">
        select
        *
        from
        tb_account
        where
        <if test='id != null and !id.equals("")'>
            id=#{id} and
        </if>
        <if test='pwd != null and !pwd.equals("")'>
            pwd=#{pwd} and
        </if>
        <if test='email != null and !email.equals("")'>
            email=#{email} and
        </if>
        <if test='tel != null and !tel.equals("")'>
            tel=#{tel} and
        </if>
        <if test='role != null and !role.equals("")'>
            role=#{role} and
        </if>
        <if test='regiDt != null and !regiDt.equals("")'>
            regi_dt=#{regiDt} and
        </if>
            1 = 1
        <if test='order != null and !order.equals("")'>
            order by
            ${order} ${asc}
        </if>
        <if test='limit != null and offset != null'>
            limit ${offset} ${limit}
        </if>
    </select>

    <select id="searchUser" parameterType="com.momo.vo.SearchVO">
        select
        *
        from
        tb_account
        where
            ${andSelect} and
            ${orSearch}
        ${prop}
    </select>

    <insert id="insertUser" parameterType="com.momo.vo.UserCommonVO">
        insert into
            tb_account
            (id, pwd, name, email, tel, terms)
        VALUES
            (#{id},#{pwd},#{name},#{email},#{tel},#{terms})
    </insert>

    <update id="updateUser" parameterType="com.momo.vo.UserCommonVO">
        update
            tb_account
        set
        <if test='name != null and !name.equals("")'>
            name=#{name},
        </if>
        <if test='email != null and !email.equals("")'>
            email=#{email},
        </if>
        <if test='tel != null and !tel.equals("")'>
            tel=#{tel},
        </if>
        <if test='role != null and !role.equals("")'>
            role=#{role},
        </if>
        <if test='terms != null and !terms.equals("")'>
            terms=#{terms},
        </if>
        id=#{id}
        where
            id=#{id}
    </update>

    <delete id="deleteUser">
        delete from
            tb_account
        where
            id=#{id}
    </delete>

<!--    Employee-->

    <insert id="insertEmp" parameterType="com.momo.vo.UserCommonVO">
        insert into
            tb_emp
            (emp_id, role,corp_id, shop_id)
        VALUES
            (#{empId},#{role},#{corpId},#{shopId})
    </insert>

    <update id="updateEmp" parameterType="com.momo.vo.UserCommonVO">
        update
            tb_emp
        set
        <if test='shopId != null'>
            shop_id=#{shopId},
        </if>
            approval_st=#{approvalSt}
        where
            emp_id=#{empId}
    </update>

    <delete id="deleteEmp">
        delete from
            tb_emp
        where
            emp_id=#{id}
    </delete>

    <select id="selectEmp" parameterType="com.momo.vo.UserCommonVO">
        with tb as (
            select
                em.*,
                cp.bp_no as bp_no
            from
            tb_emp em
            left outer join tb_corp cp on cp.reps_id=em.emp_id
        )

        select
            *
        from
            tb
        where
        <if test='empId != null and !empId.equals("")'>
            emp_id=#{empId} and
        </if>
        <if test='role != null and !role.equals("")'>
            role=#{role} and
        </if>
        <if test='corpId != null'>
            corp_id=#{corpId} and
        </if>
        <if test='shopId != null'>
            shop_id=#{shopId} and
        </if>
        <if test='bpNo != null and !bpNo.equals("")'>
            bp_no=#{bpNo} and
        </if>
        <if test='approvalSt != null'>
            approval_st=#{approvalSt} and
        </if>
            1 = 1
        <if test='order != null and !order.equals("")'>
            order by
            ${order} ${asc}
        </if>
        <if test='limit != null and offset != null'>
            limit ${offset} ${limit}
        </if>
    </select>

    <select id="searchEmp" parameterType="com.momo.vo.SearchVO">
        with tb as (
            select
                em.*,
                cp.bp_no as bp_no
            from
                tb_emp em
                    left outer join tb_corp cp on cp.reps_id=em.emp_id
        )

        select
            *
        from
            tb
        where
            ${andSelect} and
            ${orSearch}
                ${prop}
    </select>


</mapper>