.manage_box{
    padding: 0 8px 0 8px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.manage_box .btn{
    /*display: inline-block;*/
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
}

.manage_box .btn.btn_red{
    border-color: red;
    color: red;
}

.manage_box .btn.btn_blue{
    border-color: #4781ff;
    color: #4781ff;
}

.manage_box .btn.btn_grey{
    border-color: #b6b6b6;
    color: #b6b6b6;
}

.manage_box .btn.w50{
    width: 48%;
}
.manage_box .btn.w50.btn_red:hover{
    background-color: #ffdede;
}
.manage_box .btn.w50.btn_blue:hover{
    background-color: #e2ecff;
}
.manage_box .btn.w50 + .btn.w50{
    margin-left: 4%;
}

/*매장 방문 내역 페이지 */
.visit_map{
    position: relative;
    width: 100%;
    height: 1000px;
    /*background-color: tan;*/
}

.visit_map .header_group{
    margin-top: 40px;
    width: 100%;
    height: 5%;
    /*background-color: green;*/
}

.visit_map .header_group .title{
    width: 100%;
    height: 100%;
    margin: 44px 0 0 185px;
    font-size: 24px;
    font-weight: 700;
    align-content: center;
}

.visit_map .body_group{
    display: flex;
    height: 95%;
}

.visit_map .body_group .map_panel{
    background-color: #e7e7e7;
    /*display: inline-block;*/
    width: 40%;
    height: 100%;
    padding: 15px;
}

.visit_map .body_group .map_panel .map_cont{
    background-color: #3bd500;
    width: 100%;
    height: 100%;
}


.visit_map .body_group .detail_panel{
    background-color: #ffdddd;
    /*display: inline-block;*/
    padding: 15px;
    width: 60%;
    height: 100%;
}

.visit_map .body_group .detail_panel .list_header{
    width: 100%;
    height: 70px;
    padding: 0 20px 0 20px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;

}

.visit_map .body_group .detail_panel .list_header .inp_search{
    width: 60%;
    height: 45px;
    padding: 2px 8px 2px 8px;
    font-size: 18px;
    border-radius: 8px;
}

.visit_map .body_group .detail_panel .list_header .btn{
    height: 45px;

}

.visit_map .body_group .detail_panel .list_header .btn.btn_sort{
    margin-left: 20px;
    width: 32px;
    background: url(../images/sort_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_filter{
    margin-left: 12px;
    width: 36px;
    background: url(../images/filter_icon2.png) no-repeat center / 100%;
}

.visit_map .body_group .detail_panel .list_header .btn.btn_search{
    margin-left: 14px;
    width: 46px;
    background: url(../images/search_icon.png) no-repeat center / 100%;
}


.visit_map .body_group .detail_panel .shop_list_panel{
    padding: 14px 20px 14px 20px;
    width: 100%;
    height: calc(100% - 70px);
    background-color: #ffffff;
    overflow-y: auto;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item{

}



.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box{
    display: flex;
    border-radius: 6px;
    background-color: #dcdcdc;
    width: 100%;
    height: 75px;
    padding: 4px 14px 4px 14px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_preview_box{
    border-radius: 6px 6px 0 0;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box:hover{
    background-color: #c0c0c0;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item + .shop_item{
    margin-top: 14px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info{
    width: 92%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_top{
    font-weight: 500;
    /*background-color: #4a5bcf;*/
    display: flex;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_top .shop_name{
    font-size: 22px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_top .marker_item{
    margin-left: 10px;
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_top .marker_item + .marker_item{
    margin-left: 6px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_bottom{
    font-size: 15px;
    margin-top: 3px;
    /*background-color: #6be8c7;*/
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_bottom .shop_addr{
    display: inline-block;

}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .shop_info .align_bottom .last_visit_date{
    display: inline-block;
    float: right;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .option_section{
    display: block;
    /*background-color: yellowgreen;*/
    width: 8%;
    align-content: center;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_preview_box .option_section .btn_more{
    float: right;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    background: url(../images/view_more_arrow.png) no-repeat center / 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_preview_box .option_section .btn_more{
    rotate: 180deg;
}


.visit_map .body_group .detail_panel .shop_list_panel .shop_item .shop_detail{
    margin-bottom: 16px;
    background-color: #d3deff;
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 0;
    transition: all 0.2s ease-in-out;
    padding: 0 14px 0 14px;
    overflow: hidden;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail{
    display: flex;
    height: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel{
    /*display: flex;*/
    width: 50%;
    /*height: 100%;*/
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_top{
    display: flex;
    height: 20%;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_top .subject_name{
    font-weight: 500;
}
.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom{
    display: flex;
    height: 80%;
    padding: 10px 0 6px 0;
    float: left;
    /*align-content: center;*/
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .label{
    /*height: 100%;*/
    padding-left: 1px;
    font-size: 14px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .inp{
    margin-top: 3px;
    width: 60px;
    height: 100%;
    border-radius: 6px;
    padding: 2px 4px 2px 6px;
    font-size: 16px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .inp.w120{
    width: 120px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .inp.w140{
    width: 140px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box + .inp_box{
    margin-left: 14px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .gender_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    width: 36px;
    height: 100%;
    background-color: #4781ff;
    color: white;
    border-radius: 30%;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .manager_panel .section_bottom .inp_box .gender_icon:active{
    transform: scale(0.85);
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .memo_panel{
    width: 35%;
    height: 100%;
    padding: 0 0 6px 0;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .memo_panel .memo_header{
    height: 20%;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .memo_panel .memo_header .subject_name{
    font-size: 16px;
    font-weight: 500;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .memo_panel .memo_content{
    margin-top: 12px;
    display: flex;
    height: 80%;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .memo_panel .memo_content .memo_textarea{
    /*margin-top: 12px;*/
    resize: none;
    width: 100%;
    height: calc(100% - 12px);
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .option_panel{
    width: 15%;
    height: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .option_panel .btn_more{
    margin-left: 52px;
    padding: 2px 4px 2px 4px;
    width: 100px;
    height: calc(100% - 12px);
    background-color: white;
    font-size: 14px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out ;
}

.visit_map .body_group .detail_panel .shop_list_panel .shop_item.open .shop_detail .option_panel .btn_more:hover{
    background-color: #eeeeee;
}

/*Visit Log Modal*/
.visit_log{
    /*background-color: #d0d0d0;*/
    height: 700px;
    padding: 12px 16px 12px 16px;
}


.visit_log .header_group{
    height: 60px;
    padding: 16px 12px 8px 12px;
}

.visit_log .header_group .visit_log_title{
    font-size: 30px;
    font-weight: 600;
}

.visit_log  .visit_log_body{
    margin-top: 12px;
    height: calc(100% - 60px);
}

.visit_log  .visit_log_body .body_header_group{
    background-color: #797979;
    border-radius: 12px 12px 0 0;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 12px;
}

.visit_log  .visit_log_body .body_header_group .inp_search{
    width: 70%;
    height: 32px;
    padding: 2px 8px 2px 8px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 8px;
}

.visit_log  .visit_log_body .body_header_group .btn_search{
    width: calc(30% - 32px);
    height: 32px;
    background-color: white;
    border-radius: 8px;
    padding: 2px 4px 2px 4px;
    margin-left: 14px;
}

.visit_log  .visit_log_body .log_list{
    background-color: #afafaf;

    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 12px 16px 12px 16px;
    border-radius: 0 0 12px 12px;
}

.visit_log  .visit_log_body .log_list .visit_log_item{
    display: flex;
    border-radius: 12px;
    height: 50px;
    background-color: white;
    padding: 4px 14px 4px 14px;
    align-items: center;
}

.visit_log  .visit_log_body .log_list .visit_log_item + .visit_log_item{
    margin-top: 12px;
}

.visit_log  .visit_log_body .log_list .visit_log_item .visit_count{

}

.visit_log  .visit_log_body .log_list .visit_log_item .visit_date{
    margin-left: 24px;
}



