
.modal-shadow-bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-shadow-bg.openModal{
    display: flex;
    align-items: center; /* 팝업이 열릴때 스르륵 열리는 효과 */
    /*animation: modal-bg-show 0.3s;*/
}

.modal-popup{
    display: flex;
    align-items: center;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.modal-menu{
    position: fixed;
    width: 40%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 0.3rem;
    background-color: #fff;
    overflow: hidden;
}

.modal-snackbar{
    position: fixed;
    width: 30%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 0.3rem;
    background-color: #fff;
    overflow: hidden;
}

.modal-toast{
    position: fixed;
    width: 30%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 0.3rem;
    background-color: #fff;
    overflow: hidden;
}

.modal-tooltip{
    position: fixed;
    width: 20%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 0.3rem;
    background-color: #fff;
    overflow: hidden;
}

.modal-shadow-main{
    width: 60%;
    height: 70%;
    /*max-width: 450px;*/
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff; /* 팝업이 열릴때 스르륵 열리는 효과 */
    /*animation: modal-show 0.3s;*/
    overflow: hidden;
}
