@charset "UTF-8";

/* popup */
.popup_mask{opacity:0;
    visibility:hidden;
    position:absolute;
    width: 100%;
    height: 2000px;
    top:0; left:0; right:0; bottom:0;
    z-index: 98;
    /*overflow-y: auto;*/
    background-color:rgba(0,0,0,.5); transition:all .2s ease-in-out;}
.popup_mask.active{opacity:1; visibility:inherit;}
.popup{opacity:1; visibility:inherit;
    position:absolute;
    /*overflow: hidden;*/
    top:20px; left:0; right:0; z-index:99; width:100%; max-width:400px; margin:0 auto;
    padding:18px 24px 32px 24px;
    border-radius:20px; background-color:#fff; transition:all .5s ease-in-out; /* overflow:hidden;*/}
.popup.menu{
    /*top: 0;*/
    /*position: absolute;*/
    margin: 0;
    padding: 0;
}
.tooltip{
    opacity:1; visibility:inherit;
    position:absolute;
    /*overflow: hidden;*/
    /*top:20px; left:0; right:0; */
    z-index:99;
    /*width:100%; max-width:400px; */
    /*margin:0 auto;*/
    border-radius:20px; background-color:#fff; transition:all .5s ease-in-out;
    margin: 0;
    padding: 0;
}
/*.popup.active{opacity:1; visibility:inherit;}*/
.popup .popup_title{color:#141218; font-size:16px; line-height:20px;}
.popup > .popup_text{margin-top:18px; color:#50505c; font-size:14px; line-height:20px;}
.popup .popup_cont{margin-top:36px;}
.popup .popup_cont .popup_text{color:#141218; font-size:18px; text-align:center; line-height:32px;}
.popup .popup_cont .popup_text .span{color:#4781ff;}
.popup .form:not(.user_form) .popup_cont .inp{line-height:50px;}
.popup .form:not(.user_form) .popup_cont .inp:focus{line-height:48px;}
.popup .popup_cont .btn.btn_medium{font-weight:400;}
.popup .popup_cont .btn.btn_small{min-width:58px; font-size:14px; line-height:29px;}
.popup .popup_cont .btn.btn_small:disabled{
    color: #B3B3BEFF;
    cursor: default;
}
.popup .popup_cont .ta_r .btn.btn_small{padding:1px 12px; border-radius:8px; font-size:16px; font-weight:400;}
.popup .popup_btn_box{margin-top:32px;}
.popup .popup_btn_box.half{font-size:0; line-height:0;}
.popup .popup_btn_box.half .btn{display:inline-block; width:calc(48% - 6px);}
.popup .popup_btn_box.half .btn + .btn{margin-left:12px;}
.popup .popup_close{position:absolute; top:12px; right:24px; width:32px; height:32px; background:url(../images/popup/popup_close.png) no-repeat center / 32px; font-size:0;}
.popup .form_right_btn{margin-top:15px; text-align:right;}
.popup .form_right_btn .btn{display:inline-block; width:auto; min-width:149px;}
.popup .select_box .select_btn{height:52px;font-size: 14px}
.popup .select_box .select_btn:before{top:0; right:5px; width:32px; height:32px; background-size:32px;}
.popup .select_box .select_btn.type2:before{top:7px; right:5px; width:32px; height:32px; background-size:32px;}
.popup .select_box .select_layer.add_profile .select_item .button{padding:5px 10px;}
.popup .select_box .select_layer.add_profile .select_item .button .profile_img{display:inline-block; overflow:hidden; width:27px; height:27px; margin-right:8px; border-radius:50%; vertical-align:middle;}
.popup .popup_tab{width:100%;}
.popup .popup_tab .tab_list{margin:0 -4px;}
.popup .popup_tab .tab_list .tab_item{display:inline-block; width:calc(50% - 8px); margin:0 4px;}
.popup .popup_tab .tab_list.depth3{margin:0 -3px;}
.popup .popup_tab .tab_list.depth3 .tab_item{width:calc(33.33% - 6px); margin:0 3px;}
.popup .popup_tab .tab_list .tab_item .tab_btn{width:100%; padding:0 8px; border:1px solid #dde1e8; border-radius:8px; background-color:#fff; font-size:16px; text-align:center; line-height:50px;}
.popup .popup_tab .tab_list .tab_item.active .tab_btn{border-color:#4781ff; background-color:#4781ff; color:#fff;}
.popup .user_form{max-width:inherit;}
.popup .user_form .user_title + .form_text{text-align:center;}
.popup .user_form .popup_text + .form_list{margin-top:32px;}
.popup .user_form .form_list + .form_list{margin-top:28px;}
.popup .user_form .form_list + .form_text{margin-top:10px; color:#91939f; font-size:12px; line-height:14px;}
.popup .user_form .ta_r + .form_list.half{margin-top:17px;}
.popup .user_form .form_list.half .form_item{
    display:inline-block; width:calc(48% - 6px); vertical-align:top;}
.popup .user_form .form_list.half .form_item + .form_item{margin-top:0; margin-left:12px;}

.popup .user_form .form_list.third .form_item{
    display:inline-block; width:calc(32% - 6px); vertical-align:top;}
.popup .user_form .form_list.third .form_item + .form_item{margin-top:0; margin-left:12px;}

.popup .user_form.inp_type2 .select_btn{padding:10px 12px;}
.popup .user_form.inp_type2 .select_btn:before{width:34px; height:34px; background-size:34px;}
.popup .user_form.inp_type2 .inp{padding:0 12px; line-height:50px;}
.popup .user_form.inp_type2 .inp:focus{padding:0 11px; line-height:48px;}

.more_select_item .button{
    font-size: 13px !important;
    line-height: 7px !important;
}

/*20240723 chan*/
.dynamic_btn{
    position:relative;
    padding:10px 32px 10px 12px; border:1px solid #dde1e8;
    border-radius:5px;
    color:#141218;
    background-color: rgba(223, 237, 255, 0.32);
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    width: 100%;
}
.td .select_box .dynamic_btn{
    height: 41px !important;
}

.form_item .select_box .dynamic_btn{
    height: 52px !important;
}

/*20240726 chan todo color select modal*/
.todo_box{
    background-color: red;
    top: 10px;
    width: 250px;
    height: 50px;
}


/* 달력 */
.date_popup.solo{opacity:0; visibility:hidden;
    z-index: 99;
    position:absolute; top:50px; left:0; right:0; width:320px; margin:0; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;}
.date_popup.solo.active{opacity:1; visibility:inherit;}
.date_popup .date_head{padding:6px 16px; background-color:#f4f5f9; text-align:center;}
.date_popup .date_head .span{color:#62626e; font-size:14px; font-weight:600; line-height:24px;}
.date_popup .date_head .date_btn2{overflow:hidden; position:relative; width:24px; height:24px; border:1px solid #dde1e8; border-radius:4px; background-color:#fff; font-size:0;}
.date_popup .date_head .date_btn2:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/arrow_icon2.png) no-repeat center / 30px auto;}
.date_popup .date_head .date_btn2:disabled:before{opacity:.3;}
.date_popup .date_head .date_btn2.btn_prev2{float:left;}
.date_popup .date_head .date_btn2.btn_prev2:before{transform:rotate(90deg);}
.date_popup .date_head .date_btn2.btn_next2{float:right;}
.date_popup .date_head .date_btn2.btn_next2:before{transform:rotate(-90deg);}
.date_popup .date_body{padding:12px 16px 16px 16px;}
.date_popup .tb_date .thead .th{padding:12px 5px; color:#91939f; font-size:14px; font-weight:400; text-align:center; line-height:16px;}
.date_popup .tb_date .tbody .td{padding:0 1px 0 0; text-align:center;}
.date_popup .tb_date .tbody .td .button{width:40px; height:40px; color:#62626e; font-size:14px;}
.date_popup .tb_date .tbody .td.active .button{border-radius:4px; background-color:#4781ff; color:#fff;}
.date_popup .tb_date .tbody .td.active.start .button{border-radius:4px 0 0 4px;}
.date_popup .tb_date .tbody .td.active.end .button{border-radius:0 4px 4px 0;}
.date_popup .tb_date .tbody .td.mid .button{background-color:#e8f2fe;}
.date_popup .tb_date .tbody .td.today .button{
    border-radius:10px;
    border: 2px solid #759ef5;
    /*background-color:#4781ff;*/
    /*color:#fff;*/
}
.date_popup .tb_date .tbody .td .button:hover{
    border-radius:10px; background-color: #5b8dfd; color:#fff;
}

.date_btn_box{margin-top:26px; font-size:0; text-align:right; line-height:0;}
.date_btn_box .btn{width:58px; font-size:14px; line-height:29px;}
.date_btn_box .btn + .btn{margin-left:8px;}

.date_multi_popup{opacity:0; visibility:hidden; position:absolute; top:calc(100% + 8px); left:0; z-index:10; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;}
.date_multi_popup.active{opacity:1; visibility:inherit;}
.date_multi_popup.active .date_select{display:inline-block; height:305px; border-right:1px solid #dde1e8; vertical-align:top;}
.date_multi_popup.active .date_select .select_item .select_btn{width:100%; padding:10px 16px; color:#62626e; font-size:14px; font-weight:600; text-align:left; line-height:16px;}
.date_multi_popup.active .date_select .select_item.active .select_btn{background-color:#f4f5f9;}
.date_multi_popup .date_popup{display:inline-block; vertical-align:top;}
.date_multi_popup .date_btn_box{margin-top:0; padding:16px; border-top:1px solid #dde1e8;}

/* 권한 */
.popup .popup_authority .authority_list{padding-left:44px;}
.popup .popup_authority .authority_list .li{position:relative; padding-left:32px; background:url(../images/check_icon_on.png) no-repeat left top / 24px; color:#000; font-size:18px; line-height:24px;}
.popup .popup_authority .authority_list .li + .li{margin-top:7px;}

/* 일정 등록 */
.popup .schedule_regist{position:relative;
    padding-right:5px;
}
.popup .schedule_regist .schedule_color_box{position:absolute; top:12px; right:19px; font-size:0;}
.popup .schedule_regist .schedule_color_box .schedule_color{width:30px; height:30px; border-radius:50%;}
.popup .schedule_regist .schedule_color_box .schedule_color.black{background-color:#2f2f3b;}
.popup .schedule_regist .schedule_color_box .schedule_color.red{background-color:#f34432;}
.popup .schedule_regist .schedule_color_box .schedule_color.yellow{background-color:#ffd700;}
.popup .schedule_regist .schedule_color_box .schedule_color.green{background-color:#00bb35;}
.popup .schedule_regist .schedule_color_box .schedule_color.blue{background-color:#4781ff;}
.popup .schedule_regist .schedule_color_box .schedule_color_list{
    opacity:0; visibility:hidden; position:absolute; top:42px; right:-14px; padding:12px 13px;
    border: .5em solid #707070;
    border-radius:8px; background-color:#fff;
    box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16);
    text-align:center; white-space:nowrap;
    transition:all .25s ease-in-out;}
.popup .schedule_regist .schedule_color_box .schedule_color_list.active{opacity:1; visibility:inherit;}
.popup .schedule_regist .schedule_color_box .schedule_color_list .li{display:inline-block; vertical-align:top;}
.popup .schedule_regist .schedule_color_box .schedule_color_list .li + .li{margin-left:22px;}

/* 판매일보 추가 */
.popup .customer .sale_hint{
    text-align: center;
    font-size: 20px; color: #5a8ff7;
}
.popup .customer .customer_head{font-size:0; line-height:0;}
.popup .customer .customer_head .head_box{display:inline-block; vertical-align:top;}
.popup .customer .customer_head .head_box.fr{float:right;}
.popup .customer .customer_head .head_box .inp{border-radius:8px; background-color:#fff; font-size:16px; line-height:38px;}
.popup .customer .customer_head .head_box .select_box{display:inline-block; width:146px; vertical-align:top;}
.popup .customer .customer_head .head_box .inp.date + .select_box{margin-left:8px;}
.popup .customer .customer_head .head_box .select_box .select_btn{height:40px; padding:12px 24px 12px 12px;}
.popup .customer .customer_head .head_box .select_box .select_btn:before{top:11px; width:16px; height:16px; background-image:url(../images/select_arrow.png); background-size:16px;}
.popup .customer .customer_head .tab.type2{display:inline-block; margin-left:100px; vertical-align:top;}
.popup .customer .customer_head .tab.type2 .tab_item + .tab_item{margin-left:0;}
.popup .customer .customer_head .tab.type2 .tab_item .tab_btn{width:71px; line-height:38px;}
.popup .customer .customer_body{margin:14px -20px -32px -20px; padding:18px 24px 32px 24px;
    background-color:#f0f5ff;}
.popup .customer .customer_body .customer_scroll{max-height:550px; overflow-x: hidden; overflow-y: scroll;}
.popup .customer .customer_body .customer_box{font-size:0; line-height:0;}
.popup .customer .customer_body .customer_box + .customer_box{margin-top:14px; padding-top:14px; border-top:1px solid #dde1e8;}
.popup .customer .customer_body .customer_box .customer_list{font-size:0; line-height:0;}
.popup .customer .customer_body .customer_box .customer_item{display:inline-block; width:calc(25% - 12px); margin:16px 0 0 0; vertical-align:top;}
.popup .customer .customer_body .customer_box .customer_item + .customer_item{margin-left:12px;}
.popup .customer .customer_body .customer_box .customer_item .customer_label{color:#50505c; font-size:14px; line-height:16px;}
.popup .customer .customer_body .customer_box .customer_item .customer_inp_box{margin-top:12px;}
.popup .customer .customer_body .customer_box .customer_item.error .customer_inp_box{
    border-radius: 8px;
    border: 2px solid #f34432;
}


.popup .customer .customer_body .customer_box .customer_item .customer_inp_box .inp_search{padding:0 16px; background:url(../images/search_icon.png) #fff no-repeat right 12px center / 34px;}
.popup .customer .customer_body .customer_box .customer_item .customer_inp_box .inp_search:focus{padding:0 15px;}

.popup .customer .customer_body .customer_box .customer_item .customer_inp{width:100%; padding:0 16px; border:1px solid #dde1e8; border-radius:8px; font-size:16px; line-height:50px; transition:border-color .25s ease-in-out;}
.popup .customer .customer_body .customer_box .customer_item .customer_inp:focus{padding:0 15px; line-height:48px;}
.popup .customer .customer_body .customer_box .customer_item:not(.error) .customer_inp:focus{border:2px solid #4781ff;}
.popup .customer .customer_body .customer_box .customer_item .customer_inp:read-only{background-color:#f8f8f9;}
.popup .customer .customer_body .customer_box .customer_text{margin-top:9px; color:#91939f; font-size:12px; text-align:right; line-height:14px;}
.popup .customer .customer_body .customer_box .customer_title{padding-left:28px; background-repeat:no-repeat; background-position:left top; background-size:24px; font-size:20px; font-weight:600; line-height:24px;}
.popup .customer .customer_body .customer_box .customer_title.n1{background-image:url(../images/popup/customer_icon1.png);}
.popup .customer .customer_body .customer_box .customer_title.n2{background-image:url(../images/popup/customer_icon2.png);}
.popup .customer .customer_body .customer_box .customer_title.n3{background-image:url(../images/popup/customer_icon3.png);}
.popup .customer .customer_body .customer_box .customer_title.n4{background-image:url(../images/popup/customer_icon4.png);}
.popup .customer .customer_body .customer_box .select_btn{background-color:#fff;}
/*.popup .customer .customer_body .customer_box .select_btn:before{top:4px; background-size:34px;}*/
.popup .customer .customer_body .customer_box .select_btn:before{top:9px; background-size:34px;}
.popup .popup_check_list > .li{display:block; position:relative; width:100%; margin:0;}
.popup .popup_check_list > .li + .li{margin-top:15px;}
.popup .popup_check_list > .li .check_inp{position:absolute; top:5px; left:5px;}
.popup .popup_check_list > .li .check_label{position:relative; padding-left:32px; color:#28272c; font-size:16px; font-weight:500; line-height:24px; min-height:24px;}
.popup .popup_check_list > .li .check_label.disable{
    color: #B3B3BEFF
}
.popup .popup_check_list > .li .check_label:before{display:block; position:absolute; top:0; left:0; width:24px; height:24px; background:#fff url(../images/check_icon.png) no-repeat center / 24px;}
.popup .popup_check_list > .li .check_text{display:inline-block; width:calc(100% - 32px); height:24px; border:0; color:#28272c; font-size:16px; font-weight:500; vertical-align:top;}
.popup .popup_check_list > .li .check_inp:checked + .check_label:before{background-image:url(../images/check_icon_on.png);}
.popup .popup_check_list > .li .inp{
    display: inline-block;
    visibility: inherit;
    width: 100%;
    /*height: 20px;*/
    /*line-height: 16px;*/
}
.popup .popup_check_list.type2{margin:18px -6px 18px -6px;}
.popup .popup_check_list.type2 .customer_item{display:inline-block; width:calc(25% - 12px); margin:6px !important; border-radius:8px; background-color:#fff;}
.popup .popup_check_list.type2 .customer_item .input{top:21px; left:21px;}
.popup .popup_check_list.type2 .customer_item .check_label{width:100%; height:52px; padding-top:14px; padding-left:48px; box-sizing:border-box;}
.popup .popup_check_list.type2 .customer_item .check_label:before{top:14px; left:16px;}
.popup .customer .customer_body .customer_box.price{padding-top:22px;}
.popup .customer .customer_body .customer_box.price .half_box{display:inline-block; width:calc(50% - 11px); vertical-align:top;}
.popup .customer .customer_body .customer_box.price .half_box + .half_box{margin-left:22px;}
.popup .customer .customer_body .customer_box.price .half_box .customer_title .btn{float:right; margin-top:-6px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price{margin-top:18px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .thead .th{padding:12px 8px; background-color:#dee8ff; color:#50505c; font-size:14px; font-weight:400; line-height:16px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td{padding:8px 4px; background-color:#fff; text-align:center;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td:first-child{padding-left:12px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td .select_box .select_btn{height:42px; padding:12px 24px 12px 12px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td .select_box .select_btn:before{top:4px; right:0;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td .inp{line-height:40px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td .inp:focus{line-height:38px;}
.popup .customer .customer_body .customer_box.price .half_box .tb_price .tbody .td .btn_del{width:24px; height:24px; background:url(../images/popup/popup_close.png) no-repeat center / 100%;}
.popup .customer .customer_body .customer_box.price .price_total{
    margin-top:18px; padding:8px 22px; border-radius:8px;
    background-color:#dee8ff; text-align:right;

}
.popup .customer .customer_body .customer_box.price .price_total .price_item{
    display:inline-block;
    vertical-align:top;position:relative; margin-left:50px;
    margin-right: 10px;
}
/*.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item{position:relative; margin-left:51px;}*/

.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item:not(:last-child){
    margin-left: calc(8%);
}
.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item:before{
    display:block;
    position:absolute;
    top:0;
    left: -48px;
    font-size:20px; line-height:24px;
}
.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item.plus:before{
    content:'+';
}
.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item.minus:before{
    content:'-';}
.popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item.sum:before{
    left: -20px;
    content:'=';}
.popup .customer .customer_body .customer_box.price .price_total .price_item .price_num{color:#141218; font-size:20px; line-height:24px;}
.popup .customer .customer_body .customer_box.price .price_total .price_item .price_text{position:absolute; width: 150px; right:0; bottom:-20px; color:#91939f; font-size:13px; font-weight:200;}
.popup .customer .customer_body .customer_box.price .price_data{margin-top:48px;}
.popup .customer .customer_body .customer_box.price .price_data .data_title{margin-bottom:12px; color:#28272c; font-size:16px; font-weight:600; line-height:18px;}
.popup .customer .customer_body .customer_box.price .price_data .data_area{
    overflow:hidden;
    position:relative;
    padding:24px 16px; border-radius:8px; background-color:#fff;}
.popup .customer .customer_body .customer_box.price .price_data .data_half{display:inline-block; width:calc(50% - 6px); vertical-align:top;}
.popup .customer .customer_body .customer_box.price .price_data .data_half + .data_half{margin-left:12px;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_box{display:inline-block; vertical-align:top;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_box.n1{width:68%;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_box.n1 .data_area{height:100px;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_box.n2{width:calc(32% - 12px); margin-left:12px;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_box.n2 .data_area{height:100px;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_upload{position:absolute; top:0; left:0; right:0; bottom:0;}
.popup .customer .customer_body .customer_box.price .price_data .data_group .data_upload .upload_btn{
    width:100%;
    height:100%;
    background:url(../images/popup/upload_icon.png) no-repeat center / 48px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n3{margin-top:12px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n3 .data_area .data_textarea{
    width:100%; height:88px; font-size:16px; line-height:20px; resize:none;
    padding: 5px;
}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n4 .data_area{height:300px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n4 .popup_check_list .check_label{max-width:calc(100% - 24px);}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n4 .popup_check_list .check_del{position:absolute; top:0; right:0; width:24px; height:24px; background:url(../images/popup/popup_close.png) no-repeat center / 100%;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n4 .btn_add_icon{margin-top:18px; padding:0; color:#4781ff; font-size:16px; text-align:left;}

/*20240829 추가*/
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5{display:block; width:100%;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_area{padding:16px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_text{position:relative; padding-left:100px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_text div{position:absolute; top:3px; left:0; color:#28272c; font-size:15px; font-weight:600; line-height:20px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_text div span{margin-left:10px; color:#acacac; font-size:15px; font-weight:400;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_text p{color:#aaa; font-size:11px; line-height:15px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box{margin-top:12px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload{display:inline-block; position:relative; top:auto; left:auto; right:auto; bottom:auto; width:calc(20% - 4px); height:90px; border:1px solid #d5d5d5; border-radius:10px; vertical-align:top; /* overflow:hidden;*/}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload + .data_upload{margin-left:5px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload input[type="file"]{position:absolute; top:10px; left:10px;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .upload_btn{position:relative; border-radius:10px; background-size:36px; background-color:#fff;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .delete_btn{position:absolute; top:-6px; right:-6px; width:19px; height:19px; border-radius:50%; background-color:#999;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .delete_btn:before, .popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .delete_btn:after{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:1px; margin:auto; background-color:#fff;}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .delete_btn:before{transform:rotate(45deg);}
.popup .customer .customer_body .customer_box.price .price_data .data_box.n5 .data_upload_box .data_upload .delete_btn:after{transform:rotate(135deg);}

.font_visible{
    font-size: 16px;
    top: 21px;
    right: 50px;
    position: relative;
    color: #838383;
}

/*CUSTOM*/
.popup_cont .org_head_box .button{
    width:100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #edf2fd;
    color: #5a8ff7;
    font-size: 16px; text-align:left; line-height:52px;
    border: 2px #5a8ff7 solid;
    border-radius: 10px;
    margin-bottom: 25px;
}

.popup_cont .org_head_box .button .span{
    float: right;
}

/*관리자 - 대량 업로드*/
.bulk_upload_box{
    position: relative;
    height: 700px;
}
.bulk_upload_box .bulk_upload_header_group{
    margin-top: 15px;
    /*float: right;*/
}
/*.bulk_upload_box .scroll{*/
/*    max-height:550px; overflow-x:hidden; overflow-y:auto;*/
/*}*/
.bulk_upload_box .bulk_upload_table{
    margin-top: 35px;
    /*position: relative;*/
}
.bulk_upload_box .bulk_upload_table .thead .tr{
    display: table;
    width: 100%;
}
.bulk_upload_box .bulk_upload_table .thead .th{
    padding:10px;
    border:2px solid #e0e0e0;
    background-color: rgba(194, 194, 194, 0.66);
    color:#62626e;
    font-size:18px;
    font-weight:600;
    text-align:center;
    line-height:24px;
}
.bulk_upload_box .bulk_upload_table .tbody{
    display: block;
    max-height:450px; overflow-x:hidden; overflow-y:scroll;
}
.bulk_upload_box .bulk_upload_table .tbody .tr{
    display: table;
    width: 100%;
}
.bulk_upload_box .bulk_upload_table .tbody .tr .td{
    /*max-width: 50px;*/
    /*padding:5px;*/
    cursor: pointer;
    border-right:2px solid #f4f4f5; border-bottom:1px solid rgba(227, 227, 227, 0.9);
    color:#28272c; font-size:14px; text-align:center;
    line-height:18px;
}
.bulk_upload_box .bulk_upload_table .tbody .td .input{
    width:100%;
    padding:1px; border:1px solid #dde1e8;
    border-radius:3px;
    color:#141218;
    font-size:14px;
    line-height:32px;
    text-align: center;
    transition:border-color .25s ease-in-out;
}
.bulk_upload_box .bulk_upload_table .tbody .td .input:read-only,
.bulk_upload_box .bulk_upload_table .tbody .td.active .input:read-only{
    background-color: rgba(238, 238, 238, 0.85);
}

.bulk_upload_box .bulk_upload_table .tbody .td.active .input{
    border:2px solid #4781ff;
}

.popup .bulk_upload_tab{width:100%; margin-top: 15px}
.popup .bulk_upload_tab .tab_list{margin:0 -4px;}
.popup .bulk_upload_tab .tab_list .tab_item{display:inline-block; width:calc(20% - 8px); margin:0 4px;}
.popup .bulk_upload_tab .tab_list.depth3{margin:0 -3px;}
.popup .bulk_upload_tab .tab_list.depth3 .tab_item{width:calc(33.33% - 6px); margin:0 3px;}
.popup .bulk_upload_tab .tab_list .tab_item .tab_btn{width:100%; padding:0 8px; border:1px solid #dde1e8; border-radius:8px; background-color:#fff; font-size:16px; text-align:center; line-height:50px;}
.popup .bulk_upload_tab .tab_list .tab_item.active .tab_btn{border-color:#4781ff; background-color:#4781ff; color:#fff;}


/* 예약전송 */
.popup .transfer .popup_cont{margin-top:24px;}
.popup .transfer .ta_r .check_box{display:inline-block; vertical-align:top;}
.popup .transfer .popup_check_list{margin-top:36px;}
.popup .transfer .popup_check_list .li + .li{margin-top:28px;}
.popup .transfer .popup_check_list .li .check_label{max-width:calc(100% - 174px); font-weight:600;}
.popup .transfer .popup_check_list .li .transfer_box{position:absolute; top:-3px; right:0; font-size:0; line-height:0;}
.popup .transfer .popup_check_list .li .transfer_box .btn{display:inline-block; border:1px solid #dde1e8; border-radius:8px; font-size:14px; line-height:24px;}
.popup .transfer .popup_check_list .li .transfer_box .inp{width:103px; margin-left:8px; padding:0 12px; font-size:14px; line-height:30px; vertical-align:top;}
.popup .transfer .popup_check_list .li .transfer_box .inp:focus{padding:0 11px; line-height:28px;}
.popup .transfer .popup_check_list .li .transfer_box .inp.entered{border-color:transparent; background-color:#f0f5ff; color:#4781ff;}
.popup .transfer .popup_check_list .li .transfer_box .inp.entered:disabled{
    color: #B3B3BEFF
}
.popup .transfer .popup_check_list .li .transfer_box .inp:not(:disabled),
.popup .transfer .popup_check_list .li .transfer_box .inp.entered {
    cursor: pointer;
}
.popup .transfer .popup_check_list .li .transfer_box .inp:disabled{
    background-color: rgba(187, 185, 196, 0.63);
}
.popup .transfer .popup_check_list .li .check_add_btn{
    padding-left:32px; background:url(../images/popup/check_add_icon.png) no-repeat left top / 24px;
    color:#28272c; font-size:16px; font-weight:600; line-height:24px;}

/* 예약전송 날짜선택 (구) */
/*.popup .reservation .popup_cont{margin-bottom:-32px;}*/
/*.popup .reservation .reservation_item{border-bottom:1px solid #dde1e8;}*/
/*.popup .reservation .reservation_item:first-child,*/
/*.popup .reservation .reservation_item:last-child{border-bottom:0;}*/
/*.popup .reservation .reservation_item .reservation_date{position:relative;}*/
/*.popup .reservation .reservation_item .reservation_date .inp{padding-right:60px;}*/
/*.popup .reservation .reservation_item .reservation_date .date_btn{position:absolute; top:4px; right:16px; width:44px; height:44px; background:url(../images/popup/date_icon.png) no-repeat center / 44px; font-size:0;}*/
/*.popup .reservation .reservation_item.reservation_text{padding:10px 20px;}*/
/*.popup .reservation .reservation_item.reservation_text .inp{display:inline-block; width:50px; margin:0 4px 0 8px; padding:0 8px; text-align:center; line-height:30px;}*/
/*.popup .reservation .reservation_item.reservation_text .inp:focus{padding:0 7px; line-height:28px;}*/
/*.popup .reservation .reservation_item.reservation_button .reservation_btn{width:100%; height:52px; padding:0 20px; color:#62626e; font-size:14px; text-align:left;}*/
/*.popup .reservation .reservation_item.reservation_button.active .reservation_btn,*/
/*.popup .reservation .reservation_item.reservation_button .reservation_btn:hover{background-color:#f4f5f9;}*/

/* 예약전송 날짜선택 (20240724) */
.popup .reservation .popup_cont{margin-bottom:-32px;}
.popup .reservation .reservation_item{position:relative; margin-left:36px; border-bottom:1px solid #dde1e8;}
.popup .reservation .reservation_item:first-child,
.popup .reservation .reservation_item:last-child{border-bottom:0;}
.popup .reservation .reservation_item .reservation_date{position:relative;}
.popup .reservation .reservation_item .reservation_date .inp{padding-right:60px;}
.popup .reservation .reservation_item .reservation_date .date_btn{position:absolute; top:4px; right:16px; width:44px; height:44px; background:url(../images/popup/date_icon.png) no-repeat center / 44px; font-size:0;}
.popup .reservation .reservation_item.reservation_text{padding:10px 20px;}
.popup .reservation .reservation_item.reservation_text .inp{display:inline-block; width:50px; margin:0 4px 0 8px; padding:0 8px; text-align:center; line-height:30px;}
.popup .reservation .reservation_item.reservation_text .inp:focus{padding:0 7px; line-height:28px;}
.popup .reservation .reservation_item.reservation_button .reservation_btn{width:100%; height:52px; padding:0 20px; color:#62626e; font-size:14px; text-align:left;}
.popup .reservation .reservation_item.reservation_button.active .reservation_btn,
.popup .reservation .reservation_item.reservation_button .reservation_btn:hover{background-color:#f4f5f9;}
.popup .reservation .reservation_radio{position:absolute; top:14px; left:-36px; width:24px; height:24px;}
.popup .reservation .reservation_radio .input{position:absolute; top:6px; left:5px;}
.popup .reservation .reservation_radio .label{display:block; position:relative; z-index:1; width:100%; height:100%; background-color:#fff; font-size:0;}
.popup .reservation .reservation_radio .label:before{display:block; position:absolute; top:0; left:0; bottom:0; width:24px; height:24px; margin:auto 0; background:url(../images/check_icon.png) no-repeat center / 24px;}
.popup .reservation .reservation_radio .input:checked + label:before{background-image:url(../images/check_icon_on.png);}

/*20240724*/
.popup .popup_cont .popup_head_box{
    display:block;
    margin-left: 230px;
    /*left: 50px;*/
    min-height:36px; font-size:0; line-height:0; vertical-align:top;
    width: 120px;
    margin-bottom: 15px;
}
/*예약전송 날짜선택 스위치 (현재날짜 / 개통날짜)*/
.popup .popup_cont .popup_head_box .today_switch{position:relative; width:120px; height:36px; vertical-align:top;}
.popup .popup_cont .popup_head_box .today_switch .input{position:absolute; top:11px; left:11px;}
.popup .popup_cont .popup_head_box .today_switch .label{position:relative;}
.popup .popup_cont .popup_head_box .today_switch .label:before,
.popup .popup_cont .popup_head_box .today_switch .label:after{display:block;}
.popup .popup_cont .popup_head_box .today_switch .label:before{width:120px; height:36px; border-radius:18px; background-color:#f4f5f9; transition:background-color .25s ease-in-out;}
.popup .popup_cont .popup_head_box .today_switch .label:after{position:absolute; top:4px; left:4px; width:28px; height:28px; border-radius:50%; background-color:#fff; box-shadow:0 3px 6px rgba(0, 0, 0, 0.16); transition:left .25s ease-in-out;}
.popup .popup_cont .popup_head_box .today_switch .input:checked + .label:before{background-color:#4781ff;}
.popup .popup_cont .popup_head_box .today_switch .input:checked + .label:after{left:calc(100% - 32px);}
.popup .popup_cont .popup_head_box .today_switch .label .span{position:absolute; top:0; left:0; right:0; bottom:0;}
.popup .popup_cont .popup_head_box .today_switch .label .span:before,
.popup .popup_cont .popup_head_box .today_switch .label .span:after{display:block; opacity:0; visibility:hidden; position:absolute; top:0; bottom:0; height:14px; margin:auto 0; font-size:12px; font-weight:500; line-height:14px; transition:all .25s ease-in-out;}
.popup .popup_cont .popup_head_box .today_switch .label .span:before{left:11px; content:'현재날짜 기준'; color:#fff;}
.popup .popup_cont .popup_head_box .today_switch .label .span:after{opacity:1; visibility:inherit; right:10px; content:'개통날짜 기준'; color:#28272c;}
.popup .popup_cont .popup_head_box .today_switch .input:checked + .label .span:before{opacity:1; visibility:inherit;}
.popup .popup_cont .popup_head_box .today_switch .input:checked + .label .span:after{opacity:0; visibility:hidden;}


/*.popup .reservation .popup_cont .tab{*/
/*    !*background-color: red;*!*/
/*    !*display:inline-block;*!*/
/*    margin-left:100px;*/
/*    margin-bottom: 15px;*/
/*    !*vertical-align:top;*!*/
/*}*/
/*.popup .reservation .popup_cont .tab .tab_list .tab_item{*/

/*}*/
/*.popup .reservation .popup_cont .tab .tab_list .tab_item + .tab_item{*/
/*    margin-left:10px;*/
/*}*/
/*.popup .reservation .popup_cont .tab .tab_list .tab_item .tab_btn{*/
/*    width:120px; line-height:38px;font-size: 16px;*/
/*}*/

/* service */
.popup .service .service_search .form_label + .inp_search{margin-top:8px;}
.popup .service .service_search .inp_search{padding:0 16px; background:url(../images/search_icon.png) no-repeat right 12px center / 44px;}
.popup .service .service_search .inp_search:focus{padding:0 15px;}
.popup .service .service_scroll{max-height:260px; margin-top:12px; overflow-x:hidden; overflow-y:auto;}
.popup .service .service_scroll::-webkit-scrollbar{width:6px;}
.popup .service .service_scroll::-webkit-scrollbar-thumb{border-radius:3px; background:#dde1e8;}
.popup .service .service_scroll::-webkit-scrollbar-track{background:transparent;}
.popup .service .service_scroll .service_item .button{width:100%; padding:0 20px; color:#62626e; font-size:14px; text-align:left; line-height:52px;}
.popup .service .service_scroll .service_item .button:hover{background-color:#f4f5f9;}
.popup .service .service_scroll .service_item .button .span{float:right;}
.popup .service .service_scroll .service_item.active .button{color:#4781ff;}
.popup .service .service_scroll .member_item{position:relative;}
.popup .service .service_scroll .member_item .input{position:absolute; top:30px; left:30px;}
.popup .service .service_scroll .member_item .label{display:block;}
.popup .service .service_scroll .member_item .label:before{display:block; position:absolute; top:0; right:20px; bottom:0; width:24px; height:24px; margin:auto 0; background:url(../images/check_icon.png) no-repeat center / 24px;}
.popup .service .service_scroll .member_item .input:checked + .label:before{background-image:url(../images/check_icon_on.png);}
.popup .service .service_scroll .member_item .label .member_profile{padding:18px 64px; font-size:0; line-height:0;}
.popup .service .service_scroll .member_item .label .member_profile .profile_img{overflow:hidden; position:absolute; top:16px; left:20px; width:37px; height:37px; border-radius:50%;}
.popup .service .service_scroll .member_item .label .member_profile .profile_name{font-size:14px; font-weight:500; line-height:16px;}
.popup .service .service_scroll .member_item .label .member_profile .profile_info{display:block; margin-top:4px; color:#62626e; font-size:12px; line-height:14px;}

/* 동적 목록 */
/* select */
.select_box2{display:inline-block;
    position: absolute; font-size:0; line-height:0;opacity: 0;
    /*margin-left: 2px;*/
    width: 100%;
    pointer-events: none;
    /*min-width: 140px;*/
    /*max-width: 300px;*/
    /*!*width: 300px;*!*/
}
.select_box2.active{opacity: 1;z-index: 199;pointer-events: inherit;}
.select_box2 + .select_box2{margin-top:20px;}
.select_box2 .select_inp{position:relative;
    width: 100%;
    padding:0 16px; border:1px solid #dde1e8; border-radius:8px; color:#141218; font-size:14px; text-align:left; line-height:52px;}
.select_box2 .select_inp:disabled{color:#91939f;}
.select_box2 .select_inp:before{display:block; position:absolute; top:10px; right:12px; width:16px; height:16px; background:url(../images/select_arrow.png) no-repeat center / 100%}
.select_box2 .select_layer{opacity:0; visibility:hidden; position:absolute; top:100%; left:0; right:0; padding:8px 6px; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px rgba(20, 18, 24, 0.16); font-size:0; line-height:0; transition:all .25s ease-in-out;}
.select_box2 .select_layer.active{opacity:1; visibility:inherit; top:calc(100% + 8px); z-index:1;}
.select_box2 .select_layer .layer_title{
    padding:11px 14px 11px 10px; color:#91939f; font-size:12px; line-height:14px;
    word-break:keep-all;
    /*background-color: #91939f;*/
}
.select_box2 .select_layer .layer_item{position:relative; padding:0 42px;}
.select_box2 .select_layer .layer_item.active,
.select_box2 .select_layer .layer_item:hover,
.select_box2 .select_layer .layer_item:active{background-color: #e2e2ea;}
.select_box2 .select_layer .layer_item.focus_input{background-color: #d5e4ff;}
.select_box2 .select_layer .layer_item.focus_input{
    border: 2px #4781ff solid;
    border-radius: 5px;
}
.select_box2 .select_layer .layer_item .layer_type{position:absolute; top:6px; left:10px; width:24px; height:24px; background:url(../images/select2_type.png) no-repeat center / 100%;}
.select_box2 .select_layer .layer_item .layer_btn{display:block;
    width:100%;
    padding:10px 0; color:#62626e; font-size:14px; text-align:left; line-height:16px;
    background-color: rgba(90, 143, 247, 0);
}
.select_box2 .select_layer .layer_item .layer_btn:read-only{
    cursor: pointer;
}
/*20240723 chan */
.select_box2 .select_layer .add_item{
    background-color: rgba(71, 129, 255, 0.24);
    border-radius: 10px;

}
.select_box2 .select_layer .add_item .layer_btn{
    display:block;
    width:100%;
    text-align: center;
    padding:10px 0;
    color: #ffffff;
    font-size:14px; line-height:16px;
}


.select_box2 .select_layer .layer_item.active .layer_btn{color:#4781ff;}
.select_box2 .select_layer .layer_item .layer_more_btn{position:absolute; top:6px; right:10px; width:24px; height:24px; background:url(../images/select2_more.png) no-repeat center / 100%;}

.layer_more{
    opacity:0;
    visibility:hidden;
    position:absolute; left:-50%; z-index:1; width:232px; padding:8px 6px; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;
}
.layer_more.active{opacity:1; visibility:inherit;}
.layer_more .more_inp{position:relative;}
.layer_more .more_inp .inp{padding-left:10px; border:1px solid #4781ff; background-color:#f4f5f9; color:#91939f; font-size:14px; line-height:34px;}
.layer_more .more_inp .more_icon{position:absolute; top:8px; right:10px; width:20px; height:20px; background:url(../images/more_icon2.png) no-repeat center / 100%;}
.layer_more .more_del{position:relative; padding-left:48px; color:#62626e; font-size:14px; line-height:48px;}
.layer_more .more_del:before{display:block; opacity:.3; position:absolute; top:2px; left:8px; width:42px; height:42px; background:url(../images/popup/filter_del.png) no-repeat center / 100%;}
.select_box2 .select_layer .layer_item.create .layer_type{width:30px; padding:0; background:none; color:#62626e; font-size:14px; line-height:24px;}
.select_box2 .select_layer .layer_item.create .layer_btn{width:auto; padding:10px 6px; border-radius:4px; background-color:#f0f5ff;}

/* 결제 카드 등록 */
.popup .form.card .card_info .card_title{color:#50505c; font-size:14px; line-height:16px;}
.popup .form.card .card_info .card_info_list{margin-top:12px;}
.popup .form.card .card_info .card_info_item + .card_info_item{margin-top:25px;}
.popup .form.card .card_info .card_info_item .card_info_title{display:inline-block; font-size:16px; font-weight:500; line-height:19px; vertical-align:top;}
.popup .form.card .card_info .card_info_item.price .card_info_title + .span{float:right; font-weight:500; line-height:19px; vertical-align:top;}
.popup .form.card .card_info .card_info_item.auto{margin-top:32px; padding-top:31px; border-top:1px solid #dde1e8;}
.popup .form.card .card_info .card_info_item.auto .switch{width:42px; height:23px;margin-left: 7px}
.popup .form.card .card_info .card_info_item.auto .switch .input{top:9px;}
.popup .form.card .card_info .card_info_item.auto .switch .label{font-size:0;}
.popup .form.card .card_info .card_info_item.auto .switch .label:before{width:42px; height:23px; background-color:#00bb35;}
.popup .form.card .card_info .card_info_item.auto .switch .label:after{top:3px; left:calc(100% - 20px); width:17px; height:17px;}
.popup .form.card .card_info .card_info_item.auto .switch .input:checked + .label:after{left:3px;}
.popup .form.card .card_info .card_info_item.auto .switch .input:checked + .label:before{background-color: #cecece;}
.popup .form.card .card_info .card_info_item.auto .switch .label .span{display:none;}
.popup .form.card .card_info .card_info_item.registered .card_text{margin-left:20px; color:#91939f; line-height:19px; vertical-align:top;}
.popup .form.card .card_info .card_info_item.registered .btn{float:right; margin-top:-9px;}
.popup .form.card .card_info .card_info_item.select .select_box{margin-top:4px;}

/* 필터 */
.popup .filter .filter_list{margin-top:24px;}
.popup .filter .filter_item{font-size:0; text-align:right; line-height:0;}
.popup .filter .filter_item + .filter_item{margin-top:16px;}
.popup .filter .filter_list.type2{margin-top:8px;}
.popup .filter .filter_list.type2 .filter_item + .filter_item{margin-top:4px;}
.popup .filter .filter_item .select_box{display:inline-block; text-align:left; vertical-align:top;}
.popup .filter .filter_item .select_box:nth-child(1){width:15%;}
.popup .filter .filter_item .select_box:nth-child(2){width:calc(21% - 8px);}
.popup .filter .filter_item .select_box:nth-child(3){width:calc(30% - 8px);}
.popup .filter .filter_item .select_box:nth-child(4){width:calc(28% - 8px);}
.popup .filter .filter_item .select_box:nth-child(5){width:6%;}
.popup .filter .filter_item .select_box + .select_box{margin-top:0; margin-left:8px;}
.popup .filter .filter_item .select_box.add{margin-left:0;}
.popup .filter .filter_item .select_box .select_btn{height:34px; padding:0 34px 0 8px;}
.popup .filter .filter_item .select_box .inp{padding:0 8px;
    font-size: 16px;
    background-color:#fff; text-align:left;
    line-height:32px;
}
.popup .filter .filter_item .select_box .inp:focus{padding:0 7px; line-height:30px;}
.popup .filter .filter_item .select_box .inp.date{width:100%;}
.popup .filter .filter_item .select_box .form_label{color:#50505c; font-size:14px; line-height:16px; line-height:32px;}
.popup .filter .filter_item .select_box.del{margin-left:0;}
.popup .filter .filter_item .select_box.del .filter_del{width:34px; height:34px; background:url(../images/popup/filter_del.png) no-repeat center / 100%;}

/* 명함 */
.popup .business_card{position:relative; margin-top:18px; padding:40px 14px 8px 14px; border:1px solid #dde1e8; border-radius:8px;}
.popup .business_card .card_name{color:#141218; font-size:22px; line-height:26px;}
.popup .business_card .card_name .span{margin-left:8px; color:#91939f; font-size:12px;}
.popup .business_card .card_img{overflow:hidden; position:absolute; top:13px; right:15px; width:44px; height:44px; border-radius:50%;}
.popup .business_card .card_address{margin-top:4px; color:#91939f; font-size:11px; line-height:15px;}
.popup .business_card .card_info{margin-top:16px;}
.popup .business_card .card_info .li{color:#91939f; font-size:11px; line-height:20px;}
.popup .business_card .card_company{color:#91939f; font-size:11px; text-align:right; line-height:20px;}


/*커스텀*/
.list_title{margin-bottom: 10px; padding-left: 5px; margin-top: 10px}
.list_title .form_label + .form_label{margin-left: calc(42% - 10px);}
.list_title.d3 .form_label + .form_label{margin-left: calc(30% - 14px);}


.card_form .check_del{position:relative; top:13px; left:10px; width:30px; height:30px; background:url(../images/popup/popup_close.png) no-repeat center / 100%;}

/*반응형*/
.popup .customer .customer_head .head_box .select_box .select_btn:before{right:8px;}
.popup .customer .customer_body{margin:14px -24px -32px -24px; border-radius:0 0 20px 20px;}
.popup .customer .customer_body .customer_box.price .price_total .price_item{position:relative;}
.popup .service .service_search .inp_search:focus{background-position:right 11px center;}
@media all and (max-width:1000px){
    .popup{width:calc(100% - 40px); padding:18px; border-radius:10px;}
    .popup .popup_title{font-size:15px;}
    .popup .popup_cont{margin-top:15px;}
    .popup .popup_authority .authority_list{padding-left:30px;}
    .popup .popup_authority .authority_list .li{font-size:16px;}
    .popup .popup_cont .popup_text{font-size:16px; line-height:26px;}
    .popup .popup_btn_box{margin-top:20px;}
    .popup .popup_close{right:12px;}
    .popup .form:not(.user_form) .popup_cont .inp{line-height:42px;}
    .popup .form:not(.user_form) .popup_cont .inp:focus{line-height:40px;}
    .popup .schedule_regist .schedule_color_box{top:6px;}
    .popup .schedule_regist .schedule_color_box .schedule_color_list{padding:8px 10px;}
    .popup .schedule_regist .schedule_color_box .schedule_color_list .li + .li{margin-left:10px;}
    .popup .form_right_btn .btn{min-width:auto;}
    .popup .customer .customer_head .head_box .inp{border-radius:5px; font-size:14px; line-height:32px;}
    .popup .customer .customer_head .head_box .inp:focus{line-height:30px;}
    .popup .customer .customer_head .tab.type2{margin-left:8px;}
    .popup .customer .customer_head .head_box .select_box .select_btn{height:34px; padding:8px 24px 8px 8px; border-radius:5px; font-size:14px;}
    .popup .customer .customer_head .head_box .select_box .select_btn:before{top:8px;}
    .popup .customer .customer_head .tab.type2 .tab_item .tab_btn{width:50px; line-height:32px;}
    .popup .customer .customer_body{margin:14px -18px -18px -18px; padding:18px 18px 18px 18px; border-radius:0 0 10px 10px;}
    .popup .customer .customer_body .customer_box .customer_title{font-size:16px;}
    .popup .customer .customer_body .customer_box .customer_item .customer_inp_box{margin-top:8px;}
    .popup .customer .customer_body .customer_box .customer_item .customer_label{font-size:13px;}
    .popup .customer .customer_body .customer_box .customer_item .customer_inp{padding:0 12px; border-radius:5px; font-size:14px; line-height:42px;}
    .popup .customer .customer_body .customer_box .customer_item .customer_inp:focus{padding:0 11px; line-height:40px;}
    .popup .popup_tab .tab_list .tab_item .tab_btn{border-radius:5px; font-size:14px; line-height:42px;}
    .popup .customer .customer_body .customer_box .customer_text{font-size:11px;}
    .popup .select_box .select_btn{height:42px; padding:10px 24px 10px 12px; border-radius:5px; font-size:14px;}
    .popup .customer .customer_body .customer_box .select_btn:before{top:4px; background-size:24px;}
    .popup .popup_check_list.type2 .customer_item{border-radius:5px;}
    .popup .popup_check_list > .li .check_label{font-size:14px;}
    .popup .customer .customer_body .customer_box.price .price_data .data_title{font-size:15px;}
    .popup .customer .customer_body .customer_box.price .price_data .data_box.n4 .btn_add_icon{font-size:15px;}
    .popup .customer .customer_body .customer_box .customer_item{display:block; width:100%;}
    .popup .customer .customer_body .customer_box .customer_item + .customer_item{margin-left:0;}
    .popup .customer .customer_body .customer_box.price .half_box{display:block; width:100%;}
    .popup .customer .customer_body .customer_box.price .half_box + .half_box{margin:30px 0 0 0;}
    .popup .customer .customer_body .customer_box.price .price_total{padding:4px 10px 12px 10px;}
    .popup .customer .customer_body .customer_box.price .price_total .price_item{margin-top:8px;}
    .popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item{margin-left:31px;}
    .popup .customer .customer_body .customer_box.price .price_total .price_item + .price_item:before{left:-20px; font-size:16px;}
    .popup .customer .customer_body .customer_box.price .price_total .price_item .price_num{font-size:18px;}
    .popup .customer .customer_body .customer_box.price .price_total .price_item .price_text{position:relative; right:auto; bottom:auto; line-height:18px;}
    .popup .customer .customer_body .customer_box.price .price_data{margin-top:30px;}
    .popup .customer .customer_body .customer_box.price .price_data .data_half{display:block; width:100%;}
    .popup .customer .customer_body .customer_box.price .price_data .data_half + .data_half{margin:12px 0 0 0;}
    .popup .transfer .popup_cont{margin-top:15px;}
    .popup .transfer .popup_check_list{margin-top:20px;}
    .popup .reservation .popup_cont{margin-bottom:-20px;}
    .popup .reservation .reservation_item .reservation_date .inp{padding-right:40px;}
    .popup .reservation .reservation_item .reservation_date .date_btn{right:8px; width:34px; height:34px;}
    .popup .reservation .reservation_item.reservation_text{padding:8px 12px; font-size:14px;}
    .popup .reservation .reservation_item.reservation_button .reservation_btn{padding:0 12px;}
    .date_popup.solo{width:290px;}
    .date_popup .tb_date .thead .th{font-size:13px;}
    .date_popup .tb_date .tbody .td .button{width:35px; height:35px; font-size:13px;}
    .popup .user_form.inp_type2 .select_btn:before{top:4px; width:32px; height:32px; background-size:32px;}
    .popup .user_form.inp_type2 .inp{line-height:40px;}
    .popup .popup_cont .ta_r .btn.btn_small{border-radius:5px; font-size:14px;}
    .popup .service .service_search .inp_search{padding:0 12px; background-size:33px;}
    .popup .service .service_scroll{max-height:210px;}
    .popup .service .service_scroll .service_item .button{padding:0 12px; line-height:42px;}
    .popup .user_form .popup_text + .form_list{margin-top:20px;}
    .popup .user_form .form_list + .form_list{margin-top:20px;}
    .popup .user_form .form_list.half .form_item{display:block; width:100%;}
    .popup .user_form .form_list.half .form_item + .form_item{margin:20px 0 0 0;}
    .select_box2 .select_inp{padding:0 12px; border-radius:5px; line-height:42px;}
    .popup > .popup_text{margin-top:12px; font-size:12px; line-height:18px; word-break:keep-all;}
    .popup .form.card .card_info .card_title{font-size:13px;}
    .popup .form.card .card_info .card_info_item .card_info_title{font-size:14px; line-height:16px;}
    .popup .form.card .card_info .card_info_item.price .card_info_title + span{font-size:16px;}
    .popup .form.card .card_info .card_info_item.auto .switch{margin-top:-3px;}
    .popup .form.card .card_info .card_info_item.registered .card_text{display:block; margin:4px 0 0 0; font-size:14px;}
    .popup .form.card .card_info .card_info_item.registered{position:relative;}
    .popup .form.card .card_info .card_info_item.registered .btn{position:absolute; right:0; bottom:-7px;}
    .popup .filter .filter_list{margin-top:20px;}
    .popup .filter .filter_item .select_box{display:block; width:100% !important;}
    .popup .filter .filter_item .select_box + .select_box{margin:8px 0 0 0;}
    .popup .filter .filter_item .select_box.del{text-align:right;}
    .popup .filter .filter_list.type2 .filter_item:first-child{display:none;}
    .popup .business_card .card_address{word-break:keep-all;}
}
@media all and (max-width:660px){
    .popup .customer .customer_head .head_box{display:block;}
    .popup .customer .customer_head .tab.type2{display:block; margin:4px 0 0 0; text-align:center;}
    .popup .customer .customer_head .head_box .inp.date + .select_box{width:calc(100% - 128px);}
    .popup .customer .customer_head .head_box.fr{display:block; float:none; margin-top:8px;}
    .popup .customer .customer_head .head_box.fr .select_box{display:block; width:100%;}
    .popup .customer .customer_head .head_box.fr .select_btn{}
}
@media all and (max-width:420px){
    .popup .transfer .popup_check_list > .li{overflow:hidden;}
    .popup .transfer .popup_check_list .li + .li{margin-top:18px;}
    .popup .transfer .popup_check_list .li .check_label{max-width:calc(100% - 95px);}
    .popup .transfer .popup_check_list .li .transfer_box{float:right; position:relative; top:auto; right:auto;}
    .popup .transfer .popup_check_list .li .transfer_box .btn{display:block; width:95px;}
    .popup .transfer .popup_check_list .li .transfer_box .inp{margin:4px 0 0 0;}
    .popup .form.card .card_info .card_info_item.registered .btn{float:none; position:relative; left:auto; bottom:auto; margin-top:6px;}
}