<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/preview_layout.html}">
<div layout:fragment="content">
  <script src="/js/account/role_select.js"></script>
  <script src="/js/api/userapi.js"></script>
  <div>
    <button type="button" class="btn-primary" onclick="selectRole('ADMIN')">관리자</button>
    <button type="button" class="btn-primary" onclick="selectRole('REPS')">대표</button>
    <button type="button" class="btn-primary" onclick="selectRole('MANAGER')">직원</button>
    <button type="button" class="btn-primary" onclick="selectRole('CUSTOMER')" disabled>고객</button>
  </div>
</div>
</html>
