<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content" >
    <script src="/js/account/role_employee.js" th:inline="javascript"></script>
    <script src="/js/api/openapi.js" th:inline="javascript"></script>
    <div class="form-label" th:if="${role == 'REPS'}">
        사업자등록번호 : <input type="text" class="form-control" id="b_no"> <br>
        사업자명(외국인 사업자인 경우 영어로 기입) : <input type="text" class="form-control" id="p_nm"> <br>
        한글 사업자명(외국인 사업자인 경우에만) : <input type="text" class="form-control" id="p_nm2"> <br>
        개업일자 : <input type="text" class="form-control" id="start_dt"> <br>
        <button type="button" class="btn btn-primary" id="search_b_no" onclick="checkBusinessmanNo()">조회</button><br>
    </div>
    <div class="form-label">
        매장 이름 : <input type="text" class="form-control" id="shopName"> <br>
        <div th:if="${role == 'REPS'}">
            매장주소 :
            우편번호 <input type="text" class="form-control" id="zipcode">
            <button type="button" id="btn_searchZipCode" class="btn btn-primary" onclick="showZipCodeUI()">우편번호 찾기</button>
            주소 <input type="text" class="form-control" id="shopAddr"> <br>
            상세 주소 <input type="text" class="form-control" id="shopAddr_detail"> <br>
            매장 연락처 : <input type="text" class="form-control" id="shopPhNo"> <br>
        </div>
    </div>
    <button type="button" class="btn-primary" onclick="signupSubmit()">완료</button>

</div>
</html>
