<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
  <script src="/js/account/role_select.js"></script>
  <script src="/js/account/role_employee.js"></script>
  <form id="role_select_form" onsubmit="signupStep2()" method="get">
    <input type="hidden" id="role">
    <button type="submit" class="btn-primary" onclick="$('#role').val('ADMIN');">관리자</button>
    <button type="submit" class="btn-primary" onclick="$('#role').val('REPS');">대표</button>
    <button type="submit" class="btn-primary" onclick="$('#role').val('MANAGER');">직원</button>
    <button type="submit" class="btn-primary" onclick="$('#role').val('CUSTOMER');">고객</button>
  </form>
</div>
</html>
