<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/preview_layout.html}">
<div layout:fragment="content" >
    <script src="/js/account/role_reps.js" th:inline="javascript"></script>
    <script src="/js/account/region.js" th:inline="javascript"></script>
    <script src="/js/api/openapi.js" th:inline="javascript"></script>
    <script src="/js/api/userapi.js" th:inline="javascript"></script>
    <h1>회사 등록</h1>
    <br>
    <div class="form-label">
        사업자등록번호 : <input type="text" th:valid="false" class="form-control" id="b_no" oninput="validateBNo($(this))">
        <p class="fieldError" id="error_b_no"></p>
        사업자명 : <input type="text" class="form-control" id="p_ko_nm"> <br>
        <p class="fieldError" id="error_p_ko_nm"></p>
        영문 사업자명 : <input type="text" class="form-control" id="p_en_nm"> <br>
        <p class="fieldError" id="error_p_en_nm"></p>
        개업일자 : <input type="date" id="start_dt"> <br>
        <button type="button" class="btn btn-primary" id="btn_validBNo" onclick="checkBusinessmanNo()" disabled>조회</button><br>
        주식회사명 : <input type="text" class="form-control" id="corpName"> <br>
        <p class="fieldError" id="error_corp_nm"></p>
        회사 연락처 : <input type="text" class="form-control" id="corpTel"> <br>
        <button type="button" class="btn-primary" onclick="submitREPS()">완료</button>
    </div>

</div>
</html>
