<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
    <script src="/js/account/signup.js" th:inline="javascript"></script>
    <!--/*@thymesVar id="signupForm" type="com.phoneManagement.form.SignupForm"*/-->
  <form th:action="@{/account/signup}" th:object="${signupForm}" onsubmit="return valid()" method="post">
<!--    <div th:replace="~{/error/form_error :: form_error}"></div>-->
    <div class="form-label">
      아이디 : <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('id')} ? 'fieldError'"
                   th:field="*{id}">
      <button type="button" class="btn-primary" id="btn_checkDupId" onclick="checkDupId()">아이디 중복체크</button>
      <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
    </div>
    <div class="form-label">
      비밀번호 : <input type="password" class="form-control" th:field="*{pwd}">
        <p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></p>
      비밀번호 확인 : <input type="password" class="form-control" id="confirm_pwd"> <br>
    </div>
    <div class="form-label">
      이름 : <input type="text" class="form-control" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div class="form-label">
      이메일 : <input type="text" class="form-control" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div class="form-label">
      핸드폰 번호 : <input type="text" class="form-control" th:field="*{phNo}">
        <p th:if="${#fields.hasErrors('phNo')}" th:errors="*{phNo}"></p>
    </div>

    <button type="submit" class="btn btn-primary">다음</button>
  </form>
</div>
</html>
