<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{/test/layout.html}">
<div layout:fragment="content">
    <script src="/js/test/exception.js" th:inline="javascript"></script>
    <h2>예외 처리 테스트</h2>
    <input type="text" id="status" placeholder="HttpStatus를 입력해주세요.">
    <button class="btn btn-danger" onclick="getException()">예외 받기</button>
</div>
</html>