<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Test Home</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/js/test/test.js" th:inline="javascript"></script>
</head>
<body>
<input type="search" list="list_search">
<datalist id="list_search">
    <option value="오늘의날씨"></option>
    <option value="박희찬"></option>
    <option value="날"></option>
    <option value="날조"></option>
    <option value="오늘의뉴스"></option>
</datalist>
<br>
<button type="button" class="btn btn-primary" onclick="post($('#async').val())">POST</button>
<button type="button" class="btn btn-primary" onclick="get($('#async').val())">GET</button>

<button type="button" class="btn btn-primary" onclick="getMAP()">쿼리 결과 반환</button>

<br>
<button type="button" class="btn btn-primary" onclick="trTest()">트랜잭션 테스트</button>

<br>
매장 번호<input type="text" class="form-control" id="shop_id" value="1">
<br>
전화번호<input type="text" class="form-control" id="cust_tel" value="01077280636">
<br>
날짜<input type="date" class="form-control" id="actv_dt" value="2024-01-21">
<br>
<button type="button" class="btn btn-primary" onclick="dupTel($('#cust_tel').val())">전화번호 중복 조회</button>
<button type="button" class="btn btn-primary" onclick="dupTelOnDate($('#cust_tel').val(), $('#actv_dt').val())">해당 날짜에 전화번호 조회</button>
<br>
<input type="text" class="form-control" id="send_email">
<button type="button" class="btn-primary" onclick="sendEmail()">이메일 전송</button>

</body>
</html>