<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Home</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.7.min.js"></script>
</head>
<body>
<input type="search" list="list_search">
<datalist id="list_search">
    <option value="오늘의날씨"></option>
    <option value="박희찬"></option>
    <option value="날"></option>
    <option value="날조"></option>
    <option value="오늘의뉴스"></option>
</datalist>
<script>
    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');

    function post(side){
        var data = {
            name: 'Hee Chan'
        };
        var rst = "";

        $.ajax({
            async: false,
            url: '/test/post',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(data),
            beforeSend: function (xhr){
                xhr.setRequestHeader(header, token);
                console.log("before: "+rst);
            },
            success: function (result){
                rst = result;
                console.log("success: "+rst);
            },
            error: function (error){
                console.log(error);
            },
            complete: function (ret){
                console.log("complete: "+rst);
            }
        });
       console.log("final: "+rst);
    }

    function get(side){
        var rst = "";

        $.ajax({
            async: (side === 'true'),
            url: '/test/get?name=Chan',
            type: 'get',
            success: function (result){
                rst = result;
                console.log("success: "+rst);
            },
            error: function (error){
                console.log(error);
            }
        });
        console.log("final: "+rst);
    }
</script>
<!--<a th:href="@{/test/search}">검색 테스트</a>-->
async:
<select id="async" class="form-select">
    <option th:value="false">false</option>
    <option th:value="true">true</option>
</select>
<br>
<button type="button" class="btn btn-primary" onclick="post($('#async').val())">POST</button>
<button type="button" class="btn btn-primary" onclick="get($('#async').val())">GET</button>
</body>
</html>