<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/test/layout.html}">
<div layout:fragment="content">
    <script src="/js/test/image.js" th:inline="javascript"></script>
    <div class="form-label">
        <h5>이미지 1개</h5>
        <input type="file" id="file" style="height: 30px;">
        <button type="button" class="btn-primary" onclick="uploadImage($('#file'))">업로드</button>
        <br>
        <h5>이미지 여러개</h5>
        <input type="file" multiple id="multi_file" style="height: 30px;">
        <button type="button" class="btn-primary" onclick="uploadImage($('#multi_file'))">업로드</button>
    </div>
</div>
</html>