<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Test Home</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/js/test/js_test.js" th:inline="javascript"></script>
</head>
<body>
    <div class="test-context" id="test-context" >

    </div>
    <div id="list_item">

    </div>
    <button type="button" class="btn-primary" onclick="updateItem()">추가</button>
    <br>
<!--    <div id="test_addClass" class="chat-content">-->
<!--        TEST ADD CLASS-->
<!--    </div>-->
<!--    <button type="button" class="btn-primary" onclick="addClass()">Add Class</button>-->
</body>
</html>