<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/test/layout.html}">
<div layout:fragment="content">
    <script src="/js/test/js_test.js" th:inline="javascript"></script>
    <div class="test-context" id="test-context">

    </div>
    <div id="list_item">

    </div>
    <button type="button" class="btn-primary" onclick="updateItem()">추가</button>
    <br>
    <!--    <div id="test_addClass" class="chat-content">-->
    <!--        TEST ADD CLASS-->
    <!--    </div>-->
    <!--    <button type="button" class="btn-primary" onclick="addClass()">Add Class</button>-->
</div>
</html>