<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/test/layout.html}">
<div layout:fragment="content">
    <script src="/js/common/common.js"></script>
    <script>
        function send() {
            var st = $('#sender_tel').val();
            var rt = $('#receiver_tel').val();
            var content = $('#content').val();
            var reserveTime = $('#reserve').val();

            var body = {
                "type": "SMS",
                "contentType": "COMM",
                "from": st,
                "content": content,
                "messages": [
                    {
                        "to": rt
                    }
                ],
                "reserveTime": reserveTime,
            };

            $.ajax({
                url: '/test/msg',
                type: 'post',
                data: JSON.stringify(body),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    console.log(result);
                }
            });
        }

    </script>
    발신번호<input type="text" class="form-control" id="sender_tel" value="01099360636"><br>
    수신번호<input type="text" class="form-control" id="receiver_tel" value="01045240636"><br>
    문자 내용<input type="text" class="form-control" id="content" value="ㅎㅇ"><br>
    예약 일자(필수아님)<input type="text" class="form-control" id="reserve"><br>
    <br>
    <button type="button" class="btn btn-primary" onclick="send()">전송</button>
</div>
</html>