<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>Test : Search</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/test.js" th:inline="javascript"></script>
</head>
<body>
<a th:href="@{/test}">테스트 홈</a>
<button type="button" class="btn-primary" onclick="test_ajax_get()">Ajax GET 테스트</button>
<button type="button" class="btn-primary" onclick="test_ajax_post()">Ajax POST 테스트</button>
    <h1>검색 테스트</h1>
    <div>
        아이디 : <input type="text" id="admin_id"><br>
        비번 : <input type="text" id="pwd"><br>
        이메일 : <input type="text" id="email"><br>
        이름 : <input type="text" id="name"><br>
        전화번호 : <input type="text" id="ph_no"><br>

        검색 칼럼 : <input type="text" id="search_column"><br>
        검색 키워드 : <input type="text" id="keyword"><br>

        정렬 : <input type="text" id="orderby"><br>
        오프셋 : <input type="text" id="offset"><br>
        제한 : <input type="text" id="limit"><br>

        <button type="button" class="btn-primary" onclick="search()">검색</button>
    </div>
    <div id="search_result">

    </div>

</body>
</html>