<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/test/layout.html}">
<div layout:fragment="content">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/test/sse.js" th:inline="javascript"></script>
    <h3>SSE 테스트</h3>
    <br>
    <input type="text" class="form-control" id="msg" placeholder="보낼 메세지를 입력해주세요">
    <button type="button" class="btn-primary" onclick="send()">Send</button>
</div>
</html>