<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<NewAddressListResponse>
    <cmmMsgHeader>
        <requestMsgId></requestMsgId>
        <responseMsgId></responseMsgId>
        <responseTime>20231229:170706468</responseTime>
        <successYN>Y</successYN>
        <returnCode>00</returnCode>
        <errMsg></errMsg>
        <totalCount>5</totalCount>
        <countPerPage>10</countPerPage>
        <totalPage>1</totalPage>
        <currentPage>1</currentPage>
    </cmmMsgHeader>
    <newAddressListAreaCdSearchAll>
        <zipNo>14778</zipNo>
        <lnmAdres>경기도 부천시 범안로 130-21 (범박동, 현대홈타운) 상가동</lnmAdres>
        <rnAdres>경기도 부천시 범박동 151-2 (현대홈타운, 범안로 130-21) 상가동</rnAdres>
    </newAddressListAreaCdSearchAll>
    <newAddressListAreaCdSearchAll>
        <zipNo>14778</zipNo>
        <lnmAdres>경기도 부천시 범안로 130-27 (범박동, 부천범박힐스테이트5단지) 501동~508동</lnmAdres>
        <rnAdres>경기도 부천시 범박동 151-2 (부천범박힐스테이트5단지, 범안로 130-27) 501동~508동</rnAdres>
    </newAddressListAreaCdSearchAll>
    <newAddressListAreaCdSearchAll>
        <zipNo>14778</zipNo>
        <lnmAdres>경기도 부천시 범안로 130-27 (범박동, 부천범박힐스테이트5단지아파트)</lnmAdres>
        <rnAdres>경기도 부천시 범박동 151-2 (부천범박힐스테이트5단지아파트, 범안로 130-27)</rnAdres>
    </newAddressListAreaCdSearchAll>
    <newAddressListAreaCdSearchAll>
        <zipNo>14778</zipNo>
        <lnmAdres>경기도 부천시 범안로 154 (범박동, YALE유치원)</lnmAdres>
        <rnAdres>경기도 부천시 범박동 151-3 (YALE유치원, 범안로 154)</rnAdres>
    </newAddressListAreaCdSearchAll>
    <newAddressListAreaCdSearchAll>
        <zipNo>14778</zipNo>
        <lnmAdres>경기도 부천시 범안로 154 (범박동, 예일유치원)</lnmAdres>
        <rnAdres>경기도 부천시 범박동 151-3 (예일유치원, 범안로 154)</rnAdres>
    </newAddressListAreaCdSearchAll>
</NewAddressListResponse>
</body>
</html>