<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
    <script src="/js/admin/member.js" th:inline="javascript"></script>
    <h1>회원 관리</h1>
    회사<select id="filter_corp" th:value="${selected_corp != null} ? selected_corp.corp_id : -1" onchange="changeUserList()">
        <option th:if="${list_corp.isEmpty()}" selected value="" disabled>매장 없음</option>
        <option th:if="${list_corp.size() > 0}" selected value="">전체</option>
        <option th:each="corp : ${list_corp}" th:value="${corp.corp_id}" th:text="${corp.corp_nm}"></option>
    </select>
    <br>
    역할<select id="filter_role" onchange="changeUserList()">
        <option selected value="">전체</option>
        <option value="ADMIN">관리자</option>
        <option value="REPS">대표</option>
        <option value="MANAGER">직원</option>
        <option value="NONE">역할없음</option>
    </select>
    <br>
    회원 상태<select id="filter_user_st" onchange="changeUserList()">
        <option selected value="">전체</option>
        <option value="1">정상</option>
        <option value="2">장기 미로그인</option>
        <option value="0">탈퇴</option>
    </select>
    <input type="search" class="form-control" id="keyword">
    <button type="button" class="btn btn-primary" onclick="searchUser()">검색</button>
    <table class="table">
        <thead>
        <tr>
            <th th:value="user_st" onclick="orderMessage(this)">상태</th>
            <th th:value="role" onclick="orderMessage(this)">역할</th>
            <th th:value="id" onclick="orderMessage(this)">아이디</th>
            <th th:value="name" onclick="orderMessage(this)">이름</th>
            <th th:value="tel" onclick="orderMessage(this)">전화번호</th>
            <th th:value="email" onclick="orderMessage(this)">이메일</th>
            <th th:value="shop_nm" onclick="orderMessage(this)">매장명</th>
            <th th:value="regi_dt" onclick="orderMessage(this)">가입일자</th>
        </tr>
        </thead>
        <tbody id="list_user" >
        <tr th:each="user : ${list_user}" th:object="${user}">
            <td th:if="*{user_st == 0}">탈퇴</td>
            <td th:if="*{user_st == 1}">정상</td>
            <td th:if="*{user_st == 2}">장기 미로그인</td>
            <td th:if="*{role == 'ADMIN'}">관리자</td>
            <td th:if="*{role == 'REPS'}">대표</td>
            <td th:if="*{role == 'MANAGER'}">직원</td>
            <td th:if="*{role == 'NONE'}">역할없음</td>
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{tel}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{shop_nm}"></td>
            <td th:text="*{regi_dt}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
