<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.VisitedShopMapper">
    <select id="getVisitedShopList">
        SELECT *
        FROM tb_visited_shop
        order by regi_dt desc
    </select>
</mapper>