<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/sale/saleForm_layout.html}">
<div layout:fragment="content">
    <script src="/js/sale/sale_detail.js"></script>
<h3>메세지 정보</h3>
<!--<button type="button" class="btn-primary" onclick="deleteSale()">삭제</button>-->
<!--<button type="button" class="btn-primary" onclick="updateSale()">수정</button>-->
<form id="detail_form" th:object="${msg}">
    <input type="hidden" id="msg_id" name="msg_id" th:value="*{msg_id}">
    발송 여부<input type="text" name="send_tp" th:value="${send_tp} ? '발송 완료' : '발송 대기'" disabled>
    <br>
    받는 사람<input type="text" name="cust_nm" th:value="*{cust_nm}" disabled>
    <br>
    전화번호<input type="text" name="cust_tel" th:value="*{cust_tel}" disabled>
    <br>
    내용<textarea name="content" th:text="*{content}" disabled rows="3" cols="40"></textarea>
    <br>
    판매자<input type="text" name="seller_nm" th:value="*{seller_nm}" disabled>
    <br>
    예약 날짜<input type="date" name="rsv_dt" th:value="*{rsv_dt}" disabled>
    <br>

</form>
</div>
</html>