.react-calendar-body {
    position: relative;
    margin-top: 32px;
    padding-right: 548px;
    font-size: 0;
    line-height: 0;
}

.react-calendar {
    overflow: hidden;
    border: 1px solid #dde1e8;
    border-radius: 8px;
}

.react-calendar__navigation{
    display: none;
}

.react-calendar__viewContainer{
    margin-top:-1px;
}

.react-calendar__month-view__weekdays{

}