<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
    <script src="/js/sale/home.js" th:inline="javascript"></script>

    <h2>판매 일보</h2>
    <a th:href="@{/sale/graph}">판매 지표</a>
    <a th:href="@{/sale/msg_form}">문자 양식 관리</a>
    <br>
    <a th:href="@{/sale/green}">중고폰</a>
    <a th:href="@{/sale/card}">카드</a>
    <a th:href="@{/sale/comb}">결합</a>
    <a th:href="@{/sale/second}">세컨</a>
    <a th:href="@{/sale/support}">지원</a>
    <select id="filter_shop" th:value="${selected_shop.shop_id}" onchange="changeShop()">
        <option th:if="${list_shop.size() > 1}" selected value="">전체</option>
        <option th:each="shop : ${list_shop}" th:value="${shop.shop_id}" th:text="${shop.shop_nm}"></option>
    </select>
    <br>
    <button type="button" class="btn btn-primary" onclick="showCreateSaleForm()">추가</button>
    <br>
    <select class="form-select" id="filter_provider" onchange="searchSale()">
        <option selected value disabled>통신사 선택</option>
        <option value="SKT">SKT</option>
        <option value="KT">KT</option>
        <option value="LG">LG</option>
        <!--            <option value="알뜰폰">알뜰폰</option>-->
    </select>
    <br>
    <input type="search" class="form-control" id="srch_sale">
    <button type="button" class="btn btn-primary" onclick="searchSale()">검색</button>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th th:value="shop_nm" onclick="orderSale($(this))">지점명</th>
            <th th:value="cust_nm" onclick="orderSale($(this))">고객 이름</th>
            <th th:value="cust_tel" onclick="orderSale($(this))">고객 전화번호</th>
            <th th:value="cust_cd" onclick="orderSale($(this))">고객 식별번호</th>
            <th th:value="ph_md"  onclick="orderSale($(this))">모델명</th>
            <th th:value="actv_dt" onclick="orderSale($(this))">개통 날짜</th>
            <th th:value="provider" onclick="orderSale($(this))">통신사</th>
            <th th:value="seller_cms" onclick="orderSale($(this))">판매자 수수료</th>
            <th th:value="seller_id" onclick="orderSale($(this))">판매자 아이디</th>
        </tr>
        </thead>
        <tbody id="list_sale" >
        <tr th:each="sale : ${list_sale}" th:object="${sale}" th:onclick="|showSaleDetail(${sale.sale_id})|"
            th:classappend="${sale.rsv_st == false} ? 'msg-send'">
            <td th:text="*{shop_nm}"></td>
            <td th:text="*{cust_nm}"></td>
            <td th:text="*{cust_tel}"></td>
            <td th:text="*{cust_cd}"></td>
            <td th:text="*{ph_md}"></td>
            <td th:text="${#temporals.format(sale.actv_dt,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="*{provider}"></td>
            <td th:text="*{seller_cms}"></td>
            <td th:text="*{seller_id}"></td>
        </tr>
        </tbody>
    </table>


</div>
</html>