<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <title>판매일보</title>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="/js/common/common.js"></script>
  <script src="/js/api/openapi.js"></script>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<input type="hidden" id="user_id" sec:authorize="isAuthenticated()"  th:value="${#authentication.getPrincipal().getUsername()}"/>
<input type="hidden" id="user_role" sec:authorize="isAuthenticated()" th:value="${#authentication.getAuthorities().iterator().next().getAuthority()}"/>
  <th:block layout:fragment="content"></th:block>
</body>
</html>