<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sale Detail</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/sale/sale_detail.js" th:inline="javascript"></script>
    <script src="/js/api/openapi.js"></script>
</head>
<body>
    <h3>판매일보 세부정보</h3>
    <div id="sale_detail" th:object="${sale}">
        <p th:text="*{custNm}"></p>
        <p th:text="*{custTel}"></p>
        <p th:text="*{custCd}"></p>
        <p th:text="*{provider}"></p>
        <p th:text="*{actvDt}"></p>
        <p th:text="*{phMd}"></p>
    </div>
    <button type="button" class="btn-primary">수정</button>
    <button type="button" class="btn-primary">삭제</button>
</body>
</html>