<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/sale/saleForm_layout.html}">
<div layout:fragment="content">
<h3>판매일보 정보</h3>
<button type="button" class="btn-primary" onclick="deleteSale()">삭제</button>
<button type="button" class="btn-primary" onclick="updateSale()">수정</button>
<form id="detail_form" th:object="${sale}">
    <input type="hidden" id="saleNo" name="saleNo" th:value="*{saleNo}">
    <h4>고객 정보</h4>
    이름<input type="text" class="form-control" name="custNm" th:value="*{custNm}">
    <br>
    성별<input type="text" class="form-control" name="custGd" th:value="*{custGd}">
    <br>
    전화번호<input type="text" class="form-control" name="custTel" th:value="*{custTel}">
    <br>
    식별번호(생년원일 또는 사업자번호)<input type="text" class="form-control" name="custCd" th:value="*{custCd}">
    <br>
    <h4>개통 정보</h4>
    통신사<input type="text" class="form-control" name="provider" th:value="*{provider}">
    <br>
    모델명<input type="text" class="form-control" name="phMd" th:value="*{phMd}">
    <br>
    개통 날짜<input type="text" class="form-control" name="actvDt" th:value="*{actvDt}">
    <br>
    판매자 수수료<input type="text" class="form-control" name="sellerCms" th:value="*{sellerCms}">
    <br>
    판매자 아이디<input type="text" class="form-control" name="sellerId" th:value="*{sellerId}">
    <br>
    <h4>그린폰</h4>
    <br>
    <h4>세컨</h4>
    <br>
    <h4>유선</h4>
    <br>
    <h4>추가</h4>
    <br>
    <h4>지원</h4>
    <br>
    <h4>체크박스</h4>
    <br>
    <h4>토탈</h4>
    <br>
    <h4>기타 관리</h4>
    <br>
</form>
</div>
</html>