<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
  <script src="/js/shop/shop_detail.js" th:inline="javascript"></script>
  <h2>매장 정보</h2>
  <select id="filter_shop" th:value="${selected_shop != null} ? selected_shop.shop_id : 0" onchange="changeShop()">
    <option th:if="${list_shop.isEmpty()}" selected value="" disabled>매장 없음</option>
    <option th:each="shop : ${list_shop}" th:value="${shop.shop_id}" th:text="${shop.shop_nm}"></option>
  </select>
  <div id="shop_detail" th:if="${selected_shop != null}" th:object="${selected_shop}">
    매장명<input type="text" class="form-control" name="shop_nm" th:value="*{shop_nm}" disabled>
    <br>
    주소<input type="text" class="form-control" name="shop_addr" th:value="*{shop_addr}" disabled>
    <br>
    전화번호<input type="text" class="form-control" name="shop_tel" th:value="*{shop_tel}" disabled>
    <br>
    대표<input type="text" class="form-control" name="reps_nm" th:value="*{reps_nm}" disabled>
    <br>
<!--    직원<input type="text" class="form-control" name="emp_cnt" th:value="*{emp_cnt}">-->
<!--    <br>-->
    개업일자<input type="text" class="form-control" name="regi_dt" th:value="*{regi_dt}">
  </div>
</div>
</html>