<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Phone Management</a>
            <div class="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/login}">Login</a>
<!--                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">Login</a>-->
<!--                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">Logout</a>-->
                    </li>
<!--                    <li>-->
<!--                        <p class="label" sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></p>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>
