<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Phone Management</a>
            <div class="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/account/login}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/account/logout}">로그아웃</a>
                    </li>
                    <li>
                        <a class="nav-link" sec:authorize="isAuthenticated()"
                           th:text="${#authentication.getPrincipal().getUsername()}"
                            th:href="@{|/profile/${#authentication.getPrincipal().getUsername()}|}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>
