<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header">
    <script src="/js/layout/header.js"></script>
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" sec:authorize="isAuthenticated()" href="/home" style="font-size: 30px">MOMO (모바일의 모든것)</a>
            <a class="navbar-brand" sec:authorize="isAnonymous()" href="/" style="font-size: 30px">MOMO (모바일의 모든것)</a>
            <div class="navbar">
                <div class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex;">
                    <div class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/account/logout}">로그아웃</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()"
                           th:text="${#authentication.getPrincipal().getUsername()}"
                            th:href="@{|/profile/${#authentication.getPrincipal().getUsername()}|}"></a>
                    </div>
                    <div sec:authorize="hasAuthority('APPROVE') or hasAuthority('ADMIN')">
                        <p sec:authorize="hasAuthority('ADMIN')">관리자</p>
                        <p sec:authorize="hasAuthority('REPS')">대표</p>
                        <p sec:authorize="hasAuthority('MANAGER')">직원</p>
                    </div>
                    <div>
                        <a th:href="@{/alarm}">알람</a>
                        <p id="alarm_count"></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>
