<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>Phone Management</title>
</head>
<header th:replace="~{/layout/header :: header}"></header>
<body>
<!--    <nav layout:replace="~{/layout/nav :: navbar}"></nav>-->
    <th:block layout:fragment="content"></th:block>
</body>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</html>