<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/common/common.js"></script>
    <title>MOMO</title>
</head>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<input type="hidden" id="user_id" sec:authorize="isAuthenticated()"  th:value="${#authentication.getPrincipal().getUsername()}"/>
<input type="hidden" id="user_role" sec:authorize="isAuthenticated()" th:value="${#authentication.getAuthorities().iterator().next().getAuthority()}"/>

<header th:replace="~{/layout/header :: header}"></header>
<body>
<!--    <nav layout:replace="~{/layout/nav :: navbar}"></nav>-->
    <th:block layout:fragment="content"></th:block>
</body>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</html>