.fieldError{
    border-color: red;
    color: red;
}

.checked{
    color: red;
}

.msg-send{
    color: #bb2d3b;
}

.chat-container{
    display: flex;
    flex-direction: column;
    border-color: black;
    background-color: #dde0e3;
    width: 1100px;
    height: 700px;
    overflow-y: scroll;
}

.chat-content {
    background: #c1d6cc;
    border: 1px solid black;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    /*max-width: 100%;*/
}

.chat{
    margin-bottom: 10px; /* 채팅 사이 여백 설정 */
    max-width: 70%;
    padding: 10px;
}

.chat-server{
    background: #b6d4fe;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 8px;
    align-self: center;
}

.chat-self{
    background: #ffcd39;
}

.mine{
    /*display: flex;*/
    /*flex-direction: column;*/
    align-self: flex-end;
}

.other{
    /*display: flex;*/
    /*flex-direction: column;*/
    align-self: flex-start;
}

.chat-date{
    font-size: 12px;
}

.chat-invitable-user{
    width: 300px;
}

.chat-invite-selected{
    border: 2px solid blue;
    background-color: #86b7fe;
}

.chat-stacked-count{
    max-width: 30px;
    background-color: #a52834;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 15px;
}

.chat-non-read{

}

