.fieldError{
    border-color: red;
    color: red;
}

.checked{
    color: red;
}

.msg-send{
    color: #bb2d3b;
}



/*i{*/
/*    position: absolute;*/
/*    left: 75%;*/
/*    top: 27px;*/
/*    color: orange;*/
/*}*/