<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
    <script src="/js/profile/profile_info.js" th:inline="javascript"></script>
    <!--/*@thymesVar id="userInfo" type="com.momo.form.UserInfoForm"*/-->
    <div>
        <div class="form-label">
            이름 <input type="text" class="form-control" id="name" th:value="${userInfo.name}">
        </div>
        <div class="form-label">
            이메일 <input type="text" class="form-control" id="email" th:value="${userInfo.email}">
        </div>
        <div class="form-label">
            전화번호 <input type="text" class="form-control" id="tel" th:value="${userInfo.tel}">
        </div>
        <div sec:authorize="hasAuthority('REPS') or hasAuthority('MANAGER')" class="form-label" th:value="${userInfo.shopName}">
            매장 이름 <input type="text" class="form-control" id="shopName">
        </div>
        <div sec:authorize="hasAuthority('REPS')" class="form-label">
            사업자등록번호 <input type="text" class="form-control" id="bNo" th:value="${userInfo.bNo}">
        </div>
        <button type="button" onclick="updateProfile()">수정</button><br>
        <div>
            비밀번호 재설정
            <div class="form-label disabled">
                현재 비밀번호 <input type="password" class="form-control" id="pwd"><br>
                변경할 비밀번호 <input type="password" class="form-control" id="update_pwd"><br>
                변경할 비밀번호 확인 <input type="password" class="form-control" id="confirm_update_pwd"><br>
            </div>
            <button type="button" onclick="updatePassword()">비밀번호 수정</button><br>
        </div>
    </div>

</div>
</html>
