<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div layout:fragment="content">
  <!--/*@thymesVar id="signupForm" type="com.phoneManagement.form.SignupForm"*/-->
  <form th:object="${signupForm}" method="post">
    <div th:replace="~{/error/form_error :: form_error}"></div>
    아이디 : <input type="text" th:field="*{id}" placeholder="아이디를 입력하세요."> <br>
    비밀번호 : <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요."> <br>
    비밀번호 확인 : <input type="password" th:field="*{confirm_password}" placeholder="비밀번호를 한 번 더 입력하세요."> <br>
    역할 :
    <select th:field="*{staff_role}">
      <option th:each="type : ${T(com.phoneManagement.enums.StaffRole).values()}"
              th:value="${type}" th:text="${type}"></option>
    </select><br>
    이름 : <input type="text" th:field="*{name}" placeholder="이름을 입력하세요."> <br>
    성별 :
    <select th:field="*{gender}">
      <option th:each="type : ${T(com.phoneManagement.enums.Gender).values()}"
              th:value="${type}" th:text="${type}"></option>
    </select><br>
    이메일 : <input type="text" th:field="*{email}" placeholder="이메일을 입력하세요."> <br>
    생년월일 : <input type="text" th:field="*{birth_date}" placeholder="생년월일을 입력하세요."> <br>
    핸드폰 번호 : <input type="text" th:field="*{phone_number}" placeholder="핸드폰 번호를 입력하세요."> <br>

    <button type="submit" class="btn btn-primary">SIGN UP</button>
  </form>
</div>
</html>
